.noflow {
	height: 100%;
	overflow: hidden
}

#app_common_modal .app_modal_body iframe {
	min-height: 400px;
	width: 100%;
	border: 1px solid #d5d6ef
}

#app_common_modal_close,
#error_handler_overlay_close {
	position: absolute;
	right: -10px;
	top: -10px;
	color: #FFF;
	background-color: #333;
	border: 2px solid #FFF;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	font-weight: 700;
	line-height: 30px;
	padding: 0;
	margin: 0
}

#app_common_modal .app_modal_body {
	margin: 100px auto;
	min-width: 280px;
	max-width: 600px;
	min-height: 400px;
	padding: 10px;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 0;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	position: relative;
	z-index: 999
}

#app_common_modal,
#error_handler_overlay {
	position: fixed;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .8);
	display: none;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch !important;
	overflow-y: scroll;
	z-index: 99990
}



@media screen and (max-width: 767px) {

    #app_common_modal_close,
    #error_handler_overlay_close {
	right: 3px;
 
}

}

