@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'Conv_GothamNarrow-Bold';
	src: url('../fonts/GothamNarrow-Bold.eot');
	src: local('☺'), url('../fonts/GothamNarrow-Bold.woff') format('woff'), url('../fonts/GothamNarrow-Bold.ttf') format('truetype'),
	 url('../fonts/GothamNarrow-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
