.footer_hr {
  width: 90%;
  color: #999;
  margin: 1em auto
}
#footer {
  padding: .5em 1em;
  width: 90%;
  margin: 0 auto;
  font-family: Tahoma, Geneva, sans-serif;
}
#footer p {
  font-size: .9em
}
.footer_links{
	margin-bottom: 1em;
}
.footer_links span {
  font-size: .8em
}
.footer_links a {
  margin: 0 .5em;
  font-size: .9em
}
.footer_links a .first {
  margin: 0 .5em 0 0
}
.footer_links a .last {
  margin: 0 0 0 .5em
}
.footer_links a, .footer_links a:active, .footer_links a:link, .footer_links a:visited {
  color: #333;
  text-decoration: none
}
.footer_links a:hover {
  color: #999;
  text-decoration: none
}
.copyright {
  font-size: .8em;
  margin: .5em 0 0
}