@charset "utf-8";
/* CSS Document */
body{
	margin:0 auto;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	}
.clearall {
    clear:both;
    font-size:1px !important;
    line-height:1px !important;
    height:1px !important;
    min-height:1px;
}

div#container{
	width:640px;
	margin:0 auto;
	padding:0;
}
div#section1, div#section2, div#section3, div#section4, div#section5, div#section6, div#section7{
	width:100%;
	padding:0;
	display:block;
	width:100%;
	margin:0 auto;
}
div#section1{
	position:relative;
	/*height:1000px;*/
}
.sec1img{
	width:100%;
	display:block;
	margin:0 auto;
}
/* --------- arrow ------------ */
.lead-scroll {
    position: relative;
    top:43px;
    left: 50%;
    margin-left: -70px;
    padding: 0px 0;
    width: 140px;
    height: 100px;
    z-index: 100;
}
.lead-scroll .arrows {
    width: 60px;
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 30px;
}
svg:not(:root) {
    overflow: hidden;
}
svg {
    max-height: 100%;
}

.lead-scroll .arrows path {
    stroke: #284b90;
    fill: transparent;
    stroke-width: 4px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}
.arrows path.a1 {
     animation-delay: -1s;
    -webkit-animation-delay: -1s;
}
.arrows path.a2 {
     animation-delay: -.5s;
    -webkit-animation-delay: -.5s;
}
.arrows path.a3 {
     animation-delay: 0s;
    -webkit-animation-delay: 0s;
}
div#bottomarrows {
    margin-bottom: 180px;
}
div#bottomarrows {
    margin-left: 160px;
}

@keyframes arrow {
    0% {
        opacity:0
    }
    40% {
        opacity:1
    }
    80% {
        opacity:0
    }
    100% {
        opacity:0
    }
}
@-webkit-keyframes arrow /*Safari and Chrome*/ {
    0% {
        opacity:0
    }
    40% {
        opacity:1
    }
    80% {
        opacity:0
    }
    100% {
        opacity:0
    }
}
/* ----------- arrow ------------- */

/* ------------- start section2 ------------------ */
div#section2{
	background:#1369c0;
	height:840px;
}
.s2-img1{
	width:100%;
	height:auto;
	display:block;
	margin:0 auto;
}
.s2-text1{
	 font-size:22px;
	 line-height:26px;
	 color:#fff;
	 text-align:left;
	 padding:0 2% 0 4%;
	 margin:-4% 0 0 0;
}
.s2-text1 b{
	font-style: italic;
	font-weight:bold;
}
.s2-text1 span{
	color:#b6ff00;
	font-style: italic;
	font-weight:bold;
}
/* ------------- end section2 ------------------ */
/* ------------- start section3 ---------- */
div#section3{
	height:880px;
}
.sec3-img1{
	width:100%;
	margin:0 auto;
	padding:0 0 0 0;
	height:auto;
	display:block;
}
.s3-text1{
	font-size:22px;
	line-height:28px;
	color:#434343;
	text-align:center;
	font-weight:400;
	margin:0 auto;
	padding:2% 4% 0 4%;
}
.s3-text1 span{
	font-style:italic;}

/* ------------- end section3 ---------- */
/* ------------- start section4 ---------- */
div#section4{
	background:#1567c3;
	height:1235px;
}
.sec4-img{
	width:100%;
	/*height:243px;*/
	display:block;
	margin:0 auto;
}
ul.s4list{
	margin:0;
	padding:0 3% 0 3%;}
ul.s4list li{
	display:inline-block;
	margin:0 auto;
	padding:2% 0 0 0;
	list-style:none;
	background:url(../images/b-line.png) bottom center no-repeat;
}
.images-div{
	width:22.18%;
	margin:3.6% 0 0 0;
	float:left;
	display:block;
}
.sec4-textdiv{
	width:73.5%;
	float: right;}
.sec4-text{
	font-weight:400;
	font-size:24px;
	line-height:28px;
	text-align:left;
	color:#fff;
	padding:0 0 0 1%;
	}
.sec4-text span{
	text-transform:uppercase;
	text-shadow:1px 1px #04ddb8;
	color:#00ffb4;
	font-weight:bold;
	font-size:34px;
	line-height:37px;}

/* ------------- end section4 ---------- */
/* ------------- start section5 ---------- */
div#section5{
	background:#fff;
	/*height:1496px;*/
}
.s5-heading{
	font-family: 'Conv_GothamNarrow-Bold';
	font-size:60px;
	color:#263c52;
	text-align:center;
	line-height:55px;
	margin:0 auto;
	padding:3% 0 2% 0;}

ul.s5list{
	margin:0;
	padding:0 3% 0 3%;}
ul.s5list li{
	width:100%;
	display:inline-block;
	margin:0 auto;
	padding:2% 0 0 0;
	list-style:none;
}
.images2-div{
	width:22.18%;
	float:left;
	margin:0 auto;
	display:block;
}

.sec5-textdiv{
	width:68.5%;
	margin:3% 0 0 0;
	float: right;}
.sec5-text{
	font-weight:bold;
	font-size:36px;
	line-height:36px;
	text-align:left;
	color:#1365c1;
	padding:0 0 0 1%;

	}
.sec5-text span{
	color:#6a6a6a;
	font-style:italic;
}
.s5-text2{
	font-size:24px;
	color:#6a6a6a;
	line-height:28px;
	text-align:left;
	margin:0 auto;
	padding:3% 1% 1% 3%;
}


/* ------------- start section5 ---------- */
/* ------------- start section6 ---------- */
div#section6{
	height:auto;
}
.bar2, .sec6-img{
	width:100%;
	margin:0 auto;
	display:block;}

/* ------------- end section6 ---------- */
/* ------start section7---------- */
div#section7{
	height:625px;
	background:#1365c1;
	margin-left:0;
}
.sec7-heading{
	font-family: 'Conv_GothamNarrow-Bold';
	font-size:60px;
	color:#fff;
	line-height:55px;
	text-align:center;
	margin:0 auto;
	padding:5% 0 0 0;}
ul.bxslider{
	margin:0 auto;
	float:left;
	display:block;
	height:440px;
}
ul.bxslider li{
	display:inline-block;
	margin:0;
	padding-bottom:20px;
}
.sec7slider{
	display:table;
	background-size:100%;
	height:512px;
}
ul.bxslider{
	width:96%;
	padding:0 0 0 0;
	margin:0 auto;
}
.lftimgpart, .rgttxtpart{
	float:left;
	display:inline-block;
}
.lftimgpart{
	width:100%;
	margin:3% auto 0 auto;
}
.rgttxtpart{
	width:100%;
}
.sliderimg{
	margin:0 auto;
	width:20.31%;
}
.sldrtxt-640{
	font-weight:400;
	font-size:22px;
	line-height:26px;
	color:#fff;
	text-align:center;
	margin:0 auto;
	width:73.3%;
	padding:0 0 0 0;
	height:auto;
}
.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 58%;
	outline: 0;
	height:67px;
	width:30px;
	text-indent: -9999px;
	z-index: 99;
}
.s7-text1{
	background:url(../images/coloms.png) center no-repeat;
	font-weight:600;
	font-style:italic;
	font-size:36px;
	line-height:40px;
	color:#fff;
	text-align:center;
	margin:0 auto 0 auto;
	padding:19px 0 0 0;
	height:56px;
}
.stars{
	margin:0 auto;
	padding:25px 0 0 0;
	display:block;
}
.s7-text3{
	font-weight:400;
	font-style:italic;
	font-size:18px;
	color:#fff;
	text-align:center;
	margin:2% auto 0 auto;
	padding:0 0 0 0;
	}


/* ------end section7---------- */
/*-------- start section8 ------- */
div#section8{
	background:none;
	width:100%;
	height:auto;
	margin-left:0;
	display:block;
	clear:both;
}
.sec8-img{
	width:100%;
	/*margin-bottom:223px;*/
}

/*------------- end section8---------*/
/* ------------ start section9 ------------- */
.fixbox{
	position:fixed;
	bottom:0;
	left:auto;
	width:640px;
	z-index:999;
}
.stick_bar {
    background:#284b90;
	background-size:55%;
    height: 138px;
}
.btn{
	margin:0 auto;
	display:block;
	padding-top:10px;
}
.legal {
    display: none;
    background: black;
    margin-top: -4px;
    color: white;
    text-align: center;
    padding: 10px 0px;
}
.legal a {
    text-decoration: none;
}

/* ------------ end section9 ------------- */
.footer{
	width:100%;
	height:75px;
	background:#fff;
    }
.ftrtxt{
	padding:15px 0 1% 0;
	text-align:center;
    font-size:14px;
    line-height:20px;
    color:#717170;
	margin:0;
}
.ftrtxt a, .ftrtxt a:hover{
    text-decoration:none;
    color:#3e3e3e;
	text-transform:uppercase;
}


/*******************checkout start********************/
div#ck-sec1{
	height:auto;
	width:100%;
	margin:0 auto;
	padding:0;
}
.s1-top{
	width:100%;
	margin:0 auto;
	padding:0;}
div#ck-sec2{
	height:auto;
	width:100%;
	margin:0 auto;
	padding:0;
}
.s2-strip{
	width: auto;
	margin:0 auto;
	padding:0 0 0 2%;}
.lft-text-btm{
	color:#ea0000;
	font-weight:bold;
	font-size:20px;
	background:url(../images/green-tick.png) 6% top no-repeat;
	text-align:left;
	line-height:20px;
	margin:6% 0 0 0;
	padding:0 0 0 24%;}
.lft-text-btm2{
	color:#363636;
	font-weight:bold;
	font-size:14px;
	text-align:left;
	line-height:15px;
	margin:0 0 0 0;
	padding:0 0 0 9%;
}
.lft-text-btm2 span{
	color:#ea0000;}

.both-section{
	width:93%;
	display:table;
	border-radius:4px;
	margin:0 0 0 3%;
	padding:0 0 0 0;}
.left,.right{
	display:inline-block;
	float:left;}
.left{
	width:212px;
	margin:0;
	padding:3% 4% 2% 0; position: relative;}
.product{
	margin:0 0 0 16%;}
.product2{
	margin:0 auto 20px ; display: block;
	} 
.right{
	background:#e6eff6;
	height:285px;
	width:60.31%;
	margin:0;
	padding:0 0 0 0;}

.lft{
	width:232px;
}
.rgt{
	width: 80px;
    margin: 0 0 0 39px;
    text-align: left;
}
ul.price li span{
	color:#f96503;
}
ul.price2{
	padding:5px 0 0 0;
}
ul.price2{
	width:340px;
	margin:0;
	display:inline-block;
}
ul.price2 li {
	float:left;
	font-size:22px;
	line-height:20px;
	list-style:none;
	font-weight:bold;
	display:inline-block;
	color:#363636;
	margin:0 0 0 4%;
}
.payment-text{
	font-family:Arial, Helvetica, sans-serif;
	height:70px;
	font-size: 18px;
    line-height: 24px;
	color:#263c52;
	text-align:center;
	margin:0 auto;
	display:block;
	padding:8% 0 0 0;}
.payment-text span{
	font-size:34.4px;
	font-weight:bold;
	font-style:italic;
	}
.card{
	margin:0 auto;
	padding:0 0 2% 0;}
.ck-box{
	height:20px;
	margin:0 auto;
	padding:1% 0 0 2%;}
.ck-box span{
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:18px;
	color:#263c52;
	text-align:center;
	margin:0 auto;
	padding:0 0 0 0;}
.ck-box span b{
	text-transform:uppercase;
	font-weight:bold;}
.frm-bg, .frm-bg2{
	background:#85bdd6;
	width:92%;
	margin:0 auto;
	border-radius:8px;
	height:437px;}
.frm-bg2{
	height:740px;
	padding:2% 0 0 0;}
.frm-container2 {
	margin:0 auto;
    width:80%;
}
.frmFlds{
	width:94%;
	margin:7px auto;
	display:block;
}

.frmFlds input, .frmFlds select{
    background:#ffffff;
    border: 1px solid #7e7e7e;
	font-size:28px;
    margin: 0 0 1% 0;
    padding: 0 1% 0 4.2%;
    width:94%;
	outline:none;
	color:#000;
	height:54px;
	line-height:50px;
}


.frmFlds select{
	width:99%;
}
.frmFlds label{
	font-family:Arial, Helvetica, sans-serif;
	font-size:26px;
	line-height:32px;
	text-align:left;
	color:#000;
	clear:both;
	float:left;
	width:100%;
	}
.frmFlds select.short{
	float:left;
	display:inline-block;
	width:48%;
	margin-right:2%;
}
.trial-btn{
	width: 620px;
	height:128px;
    margin: 0 auto;
	display:block;
	padding:3% 0 0 0;}


.company{
	width:100%;
	display:block;
	margin:0 auto;
	padding:3% 0 4% 0;}
.trial-text{
	height:139px;
	width:92%;
	display:table;
	margin:0 auto;
	padding:3% 0 0 0;
	font-size:17px;
	color:#9e9e9e;
	line-height:22px;
	text-align: center;}

/*******************checkout  end********************/

#footer2{
	border-top:2px solid #d7dbdd;
	width:92%;
	margin:0 auto;
	height:85px;
	padding:1% 0 0 0;
	background:#fff;
}
.footer2-text{
    padding:0 0 1% 0;
	text-align:center;
    font-size:14px;
    line-height:20px;
    color:#717170;
}
.footer2-text a, footer2-text a:hover{
    text-decoration:none;
    color:#3e3e3e;
	text-transform:uppercase;
}
/*******************FOOTER end********************/

.ck-box.sis {
	border-top: 1px solid #bfbfbf;
	margin-top: 10px;
	padding-top: 5px;
	width: 332px;
	margin-left: 0;
}

.ck-box.sis span {
	font-size: 13px;
}
