@font-face {
	font-family: 'Conv_GothamNarrow-Bold';
	src: url('../fonts/GothamNarrow-Bold.eot');
	src: local('☺'), url('../fonts/GothamNarrow-Bold.woff') format('woff'), url('../fonts/GothamNarrow-Bold.ttf') format('truetype'),
	 url('../fonts/GothamNarrow-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.loading-bg {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	height: 100%;
	z-index: 999;
}

.loading-bar {
	width: 400px;
	/*height: 75px;*/
	height: auto;
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 0 10px;
	margin: -100px 0 0 -210px;
	background: rgba(255, 255, 255, 1);
	border-radius: 5px;
	text-align: center;
}
