.table, .table_more {
  display: table
}
.module, .modules_holder .full, .table {
  width: 100%
}
.row {
  display: table-row
}
.column, .module {
  display: table-cell
}
.module {
  background: 0 0
}
.modules_holder .module .module_title, .modules_holder .module .module_title2 {
  background-color: #1a1a1a;
  border-radius: 0;
  font-size: 14px;
  font-weight: 400;
  height: 24px;
  padding: 10px 10px 0;
  text-transform: uppercase;
  display: block;
  max-width: 175px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  position: relative
}
.modules_holder .half {
  width: 49%;
  float: left
}
.third {
  width: 34%
}
.third:first-child, .third:last-child {
  width: 33%
}
.modules_holder .two_third {
  width: 69%
}
.modules_holder .special_sm {
  width: 45%;
  vertical-align: middle
}
.modules_holder .special_bg {
  width: 55%;
  vertical-align: middle
}
.modules_holder .order_special_sm {
  width: 38%;
  vertical-align: top
}
.modules_holder .order_special_bg {
  width: 61%;
  vertical-align: top
}
.modules_holder .quarter {
  width: 25%
}
.modules_holder .three_quarters {
  width: 79%
}
.modules_holder .module .module_title {
  top: -40px
}
.modules_holder .module .module_content {
  padding: 2%;
  width: 96%;
  text-align: center;
  font-size: 1.8em
}
.modules_holder .module .module_content2 {
  padding: 2%;
  width: 96%;
  text-align: left;
  font-size: 1em
}
.clear_block {
  width: 100%;
  clear: both;
  height: 0
}
.table_spacer_horz {
  display: table-cell;
  height: 7em
}
.table_spacer_horz_half {
  display: table-cell;
  height: 2em
}
.table_spacer_horz_mobile {
  display: table-cell;
  height: 5em
}
.table_spacer_horz_mobile2 {
  display: table-cell;
  height: 7em
}
.table_spacer_vert {
  display: table-cell;
  width: 0;
  background: 0 0
}
.article {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.action_call {
  background: #000;
  color: #fff;
  font-size: 2em;
  position: relative;
  vertical-align: middle;
  line-height: 102.5px
}
@media only screen and (max-width:1024px) {
  .module, .row, .table {
    display: inline-block;
    width: 100%
  }
  .modules_holder .quarter, .modules_holder .special_bg, .modules_holder .special_sm {
    width: 49%
  }
  .modules_holder .half {
    width: 100%
  }
}
@media only screen and (max-width:768px) {
  .module, .modules_holder .half, .modules_holder .quarter, .modules_holder .special_bg, .modules_holder .three_quarters, .modules_holder .two_third, .row, .table, .third, .third:first-child, .third:last-child {
    width: 100%
  }
  .modules_holder .special_sm {
    width: 100%;
    padding: 0
  }
  .module, .row, .table {
    display: inline-block
  }
  .table_spacer_horz, .table_spacer_vert {
    display: block;
    height: 2em
  }
  .table_spacer_horz_mobile, .table_spacer_horz_mobile2 {
    display: none
  }
}