@charset "utf-8";
/* CSS Document */
body {
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	padding:0;
	text-align:center;
	/*background:url(../images/mainbg.jpg) left top repeat;*/
}
/*
START UTILITY
*/
div, ul, h1, h2, h3, h5,li, p, img, form, input, textarea {
	margin:0;
	padding:0;
}

a {
    outline: none;
	color:#333;
	text-decoration:underline;
}

a:hover {
    outline: none;
	color:#000;
	text-decoration:none;
}

img {
	border:none;
}

li {
	list-style:none;
}


.clearall {
	clear:both;
	font-size:1px;
	line-height:1px;
	height:1px;
}

/*
END UTILITY*/
@font-face {
    font-family: 'oswaldbold';
    src: url('../fonts/oswald-bold-webfont-webfont.eot');
    src: url('../fonts/oswald-bold-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-bold-webfont-webfont.woff') format('woff'),
         url('../fonts/oswald-bold-webfont-webfont.ttf') format('truetype'),
         url('../fonts/oswald-bold-webfont-webfont.svg#oswaldbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* start main content */
div#container{
	/*background:url(../images/bg.jpg) left top repeat-x;*/
	margin:0 auto;
	padding:0;
	}
.innercontainer{
	width:1004px;
	margin:0 auto;
	}
div#bdone{
	height:775px;
	background:url(../images/sec1.jpg) center top no-repeat;
	}
/* form start */
.form-position{
	height:439px;
	width:303px;
	float:left;
	margin: 125px 0 0 676px;
}
.frmElemts, .frmElemts2 {
	display:inline-block;
	float:left;
	margin:3px 0 3px 0;
}
.frmElemts input, .frmElemts label, .frmElemts select  {
	display:inline-block;
	float:left;
	height:27px;
	line-height:27x;
}
.frmElemts label {
	line-height:24px;
	width:95px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#538ED2;
	text-align:right;
	margin-right:10px;
	}
.frmElemts input, .frmElemts select {
	background:none;
	border:none;
	width:149px;
	height:22px;
	background-color:#FFF;
	outline:none;
	padding-left:4px;
	border: 2px solid #6CA6E1;
	border-radius: 2px;
	}
.frmElemts select{
	width:157px;
	height:26px;
	}
.frmElemts2 input{
	background:none;
	border:none;
	width:15px;
	height:15px;
	background-color:#FFF;
	outline:none;
	margin:0 15px 0 20px;
	}
.frmElemts2 label {
	line-height:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fff;
	text-align:left;
	}
.frmElemts2 label span{
	text-decoration:underline;
	}
.submit{
	margin:25px 0 0 0;
	background:url(../images/submit.png) 0 0 no-repeat;
	height:57px;
	width:272px;
	cursor:pointer;
	border:none;
	outline:none;
	}
.frmtxt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:left;
	line-height:20px;
	color:#fff;
	padding:7px 0 0 40px;
	}
/* form end */
div#bdtwo{
	clear:both;
	height:956px;
	background:url(../images/sec2.jpg) center top no-repeat;
	position: relative;
	}
div#bdtwo .orderImg {
	position: relative;
	right: -334px;
	top: 869px;
}
.bdtwotxt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
	text-align:justify;
	width:610px;
	padding:166px 0 0 28px;
	}
div#bdthree{
	clear:both;
	height:290px;
	background:url(../images/sec3.jpg) center top no-repeat;
	}
ul.bdthreelist{
	padding:130px 0 0 528px;
	width:445px;
	}
ul.bdthreelist li{
	height:142px;
	margin-bottom:10px;
	}
.listhding{
	font-family: 'oswaldbold';
	font-size:24px;
	color:#143a17;
	text-align:center;
	text-shadow:1px 1px #e3eec5;
	line-height:34px;
	}
.listtxt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
	text-align:justify;
	line-height:19px;
	}
div#bdfour{
	clear:both;
	height:740px;
	background:url(../images/sec4.jpg) center top no-repeat;
	position: relative;
	}
.bdfourtxt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#333333;
	text-align:center;
	font-weight:bold;
	width:600px;
	padding:50px 0 0 155px;
	}
.order1{
	float:right;
	margin:40px 21px 0 0;
	}

.bdfourtxt span{
	font-size:20px;
	}
div#bdfive{
	clear:both;
	height:654px;
	background:url(../images/sec5.jpg) center top no-repeat;
	}
	div#bdfive .orderImg {
		position: relative;
		right:-312px;
		top:472px;
	}
.bdfivehding{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#ff0000;
	text-align:left;
	width:450px;
	padding:111px 0 0 30px;
	font-weight:bold;
	}
.bdfivetxt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
	text-align:justify;
	padding:20px 0 0 30px;
	width:450px;
	}
div#bdsix{
	clear:both;
	height:704px;
	background:url(../images/sec6.jpg) center top no-repeat;
	}
.bdsixlft, .bdsixrgt{
	float:left;
	display:inline-block;
	padding:47px 0 0 0;
	}
.bdsixlft{
	width:640px;
	}
.sixlfttxt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
	text-align:justify;
	padding:100px 0 0 48px;
	width:364px;
	line-height:24px;
	}
.bdsixrgt{
	width:360px;
	}
.bdsixrgt ul{
	padding:88px 0 0 90px;
	width:244px;
	}
.bdsixrgt ul li{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
	text-align:justify;
	text-shadow:1px 1px #3399cc;
	margin-bottom:25px;
	margin-top:10px;
	height:82px;
	}
div#bdseven{
	clear:both;
	height:710px;
	background:url(../images/sec7.jpg) center top no-repeat;
	position: relative;
	top: 1px;
	}
.bdsevenlft, .bdsevenrgt{
	float:left;
	display:inline-block;
	padding:112px 0 0 0;
	width:322px;
	height:561px;
	}
.sevenhding{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#333300;
	text-align:center;
	height:39px;
	line-height:55px;
	font-weight:bold;
	}
.seventxt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333300;
	text-align:left;
	padding:10px 6px 10px 6px;
	height:83px;
	}
.sevenftr{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#0099cc;
	font-weight:bold;
	font-style:italic;
	text-align:left;
	line-height:30px;
	height:47px;
	padding:0 6px 0 6px;
	}
.bdsevenlft{
	margin:0 160px 0 154px;
	}
div#bdeight{
	clear:both;
	height:450px;
	background:url(../images/sec8.jpg) center top no-repeat;
	}
.order2{
	float:left;
	margin:303px 0 0 790px;
	}
div#footer{
	clear:both;
	height:396px;
	}
.img1{
	clear:both;
	float:left;
	margin:5px 0 0 25px;
	}
.img2{
	float:left;
	clear:both;
	margin:8px 0 0 426px;
	}
.ftrtxt{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	text-transform:uppercase;
	line-height:24px;
	text-align:center;
	clear:both;
	padding:20px;
	}
.ftrtxt a{
	text-decoration:underline;
	color:#333333;
	}
.ftrtxt a:hover{
	text-decoration:none;
	color:#333333;
	}
.guarantee{
	text-align:left;
	font-size:14px;
	line-height:20px;
	margin:10px 30px 0 140px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:20px;
}
/* MODAL FOR - offer_101/cart/index.php */
.modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    overflow: auto;
    pointer-events: none;
}

.modal-dialog:target {
    opacity: 1;
    pointer-events: auto
}

.pop-up-one > div {
    width: 830px;
    position: relative;
    margin: 2% auto;
    padding: 0;
    border-radius: 5px;
    z-index: 10000;
    overflow-x: hidden;
    max-height: 90%;
    /*height: 410px;*/
    /*background: radial-gradient(circle at top left, #d6d6d6, #fff);*/
    /*background: -moz-radial-gradient(circle at top left, #d6d6d6, #fff);*/
    /*background: -webkit-radial-gradient(circle at top left, #d6d6d6, #fff);*/
    /*background: -o-radial-gradient(circle at top left, #d6d6d6, #fff);*/

    background-color: #f7f7f7;
    box-shadow: 0px 0px 100px #000000;
}

.pop-up-one > div h2,.modal-dialog > div h3{
    padding:0;
    margin: 50px 0 0 0;
    font-family: Arial,sans-serif;
    font-size:37px;
    color: #5e5656;
}
.pop-up-one > div h3{
    margin: 0px 0 10px 0;
    color: #1369c0;
}

.pop-up-one > div .close-popup{
    position: absolute;
    top:28px;
    right:28px;
}

.pop-up-one > div .content{
    background-image: url(../images/content.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    text-align: left;
    margin-bottom: 25px;
}
.pop-up-one > div .content p{
    font-family: "Arial";
    font-size:18px;
    color: #262626;
    line-height: 1.5;
    padding-left: 30px;
    width: 486px;
    text-align: justify;
}
.pop-up-one > div .content p span{
    background-color: #ffff00;
    padding:2px;
}

.pop-up-one > div .content .form{
    position: relative;
    margin-top:150px;
    padding-left:120px;
    height:105px;
}
.pop-up-one > div .content .form span{
    font-family: "Arial";
    font-size:17px;
    color: #fff;
    display: inline-block;
    margin-top: 37px;
}
.pop-up-one > div .content .form .column{
    position: relative;
    float:left;
    width: 203px;
}
.pop-up-one > div .content .form .column label{
    display: block;
    font-family: "Arial";
    font-size:17px;
    color: #fff;
    margin-bottom: 4px;
}
.pop-up-one > div .content .form .column input[type=text]{
    border: 2px solid #c2c2c2;
    background-color: #fff;
    font-family: "Arial";
    font-size:17px;
    color: #000;
    padding: 8px 5px;
    width: 185px;
}
.pop-up-one > div .content .form .column input[type=image]{
    position: relative;
    top: 15px;
    left: 10px;
}

.modal-a {
    color: #000
}

.modal-p {
    color: #757575
}

.people-item .people-thumb {
    max-width: 300px !important
}

a .modal-a {
    cursor: pointer
}

.full-width-close {
    z-index: 9999;
    padding: 100%;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: fixed
}
