.button {
    display: block;
    height: 70px;
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: #fff;
    line-height: 70px;
    letter-spacing: -1px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 25px;
    margin: 0;
    position: relative;
    border: none;
    border-radius: 15px;
    background: #F60
}

.button:hover {
    background: #d95803
}

.button span {
    position: relative;
    z-index: 1
}

.left {
    float: left
}

.right {
    float: right
}

.clearfix:before, .clearfix:after {
    display: table;
    line-height: 0;
    content: ''
}

.clearfix:after {
    clear: both
}

.clear {
    clear: both
}

.inner-block {
    width: 940px;
    margin: auto
}

.inner-page .inner-block {
    width: 970px
}

.confirmation-section {
    font-family: 'Open Sans', sans-serif;
    padding: 37px 0 0
}

.confirmation-section h2 {
    font-size: 50px;
    color: #000;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -2px;
    text-align: center;
    padding: 0 0 22px;
    margin: 0
}

.confirmation-section h3 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
    color: #EF4B52;
    letter-spacing: -1px;
    text-align: center;
    padding: 0 0 4px;
    margin: 0
}

.confirmation-section h4 {
    font-size: 24px;
    line-height: 28px;
    padding: 0 0 19px
}

.confirmation-section .info {
    margin: 0 auto 40px
}

.confirmation-section .info .inner-block {
    max-width: 940px;
    font-size: 16px;
    color: #757575;
    text-align: center;
    padding: 19px 0 11px;
    position: relative;
    border-radius: 12px;
    border: 3px solid #69C03B;
    background: #fff
}

.confirmation-section .info h4 {
    color: #69C03B;
    padding: 4px 0 14px;
    margin: 0
}

.confirmation-section .contacts {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    padding: 22px 0 31px;
    border-top: 1px dashed #ccc;
    background: #fff
}

.confirmation-section .contacts h4 {
    font-size: 24px;
    line-height: 24px;
    padding: 0 0 9px
}

.confirmation-section .form {
    text-align: center;
    padding: 32px 0 40px;
    border-top: 1px dashed #ccc
}

.confirmation-section .form h4 {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 0 5px
}

.confirmation-section .form p {
    padding: 0
}

.confirmation-section .form form {
    padding: 21px 0 0;
    overflow: visible
}

.confirmation-section .form form input[type="text"] {
    width: 720px;
    height: 60px;
    font-size: 20px;
    font-weight: 300;
    line-height: 58px;
    padding: 0 15px 5px;
    border-radius: 5px
}

.confirmation-section .form form input[type="text"]::-webkit-input-placeholder {
    color: #52585d;
    font-size: 20px;
    font-style: normal
}

.confirmation-section .form form input[type="text"]::-moz-placeholder {
    color: #52585d;
    font-size: 20px;
    font-style: normal
}

.confirmation-section .form form input[type="text"]:-moz-placeholder {
    color: #52585d;
    font-size: 20px;
    font-style: normal
}

.confirmation-section .form form input[type="text"]:-ms-input-placeholder {
    color: #52585d;
    font-size: 20px;
    font-style: normal
}

.confirmation-section .form form input[type="text"]:focus {
    font-size: 20px;
    border: 1px solid #aaa
}

.inner-page .footer-menu {
    padding: 0 0 10px
}

.inner-page footer {
    top: 0 !important
}

.confirmation-section .form form .button {
    width: 200px
}

.confirmation-section .form form button.button {
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    padding: 0 20px 5px;
    border-radius: 5px
}

.confirmation-section .important {
    font-size: 14px;
    line-height: 20px;
    padding: 29px 0 15px;
    border-top: 1px dashed #ccc;
    background: #fff
}

.left.error {
    border: 1px solid red
}

.confirmation-section .important h4 {
    font-size: 18px;
    color: #F3351B;
    text-align: center;
    padding: 0 0 9px;
    margin: 0
}

.header-section.confirmation .lock img {
    width: 44px;
    margin: 20px 0 0
}

.header-section.confirmation {
    padding: 0 0 20px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
}

.footer-menu li a {
    padding: 0 10px 0 8px;
    text-decoration: none;
    color: #dadada;
    border-right: 1px solid #dadada
}

.footer-menu li {
    display: inline;
    padding: 0;
    font-size: 12px
}

.inner-footer p {
    font-size: 10px;
    line-height: 16px;
    text-align: center
}

.copyright {
    margin: 10px 0 30px;
    font-size: 12px;
    text-align: center
}

.confirmation-page .row {
    margin: 0
}

.popup-wrapper, .inner-page .popup-wrapper {
    width: 100%;
    height: 100%;
    display: none;
    overflow: scroll;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8)
}

.popup-wrapper .popup {
    max-width: 900px;
    display: none;
    font-size: 14px;
    line-height: 20px;
    padding: 0 0 50px;
    position: relative;
    top: 50px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
}

.popup-wrapper .popup .popup-inner {
    padding: 34px 40px 40px;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 0 15px 50px 0 rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 15px 50px 0 rgba(0, 0, 0, .15);
    -o-box-shadow: 0 15px 50px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, .15);
    background: #fff
}

.popup-wrapper .popup .close-popup-link {
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    top: 15px;
    right: 15px
}

.popup p {
    margin: 0
}

.popup-wrapper .popup .close-popup-link:before, .popup-wrapper .popup .close-popup-link:after {
    content: '';
    width: 14px;
    height: 2px;
    display: block;
    position: absolute;
    left: -1px;
    top: 5px;
    background: #000
}

.popup-wrapper .popup .close-popup-link:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.popup-wrapper .popup .close-popup-link:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.popup-wrapper .popup footer {
    text-align: center;
    padding: 30px 0 0;
    margin: 8px 0 0;
    border-top: 1px solid #ddd;
    top: auto
}

.popup-wrapper .popup footer .close-popup-link {
    width: auto;
    height: 38px;
    display: inline-block;
    font-size: 20px;
    color: #766118;
    line-height: 36px;
    letter-spacing: -.5px;
    opacity: 1;
    padding: 0 25px;
    position: relative;
    top: 0;
    right: 0;
    border: 1px solid #e0b712;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 #ffe786;
    -moz-box-shadow: inset 0 1px 0 #ffe786;
    -o-box-shadow: inset 0 1px 0 #ffe786;
    box-shadow: inset 0 1px 0 #ffe786;
    -webkit-text-shadow: 1px 1px 0 #fbe27e;
    -moz-text-shadow: 1px 1px 0 #fbe27e;
    -o-text-shadow: 1px 1px 0 #fbe27e;
    text-shadow: 1px 1px 0 #fbe27e;
    background: #fdd638;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fdd638), to(#f3c81e));
    background: -webkit-linear-gradient(#fdd638, #f3c81e);
    background: -moz-linear-gradient(#fdd638, #f3c81e);
    background: -ms-linear-gradient(#fdd638, #f3c81e);
    background: -o-linear-gradient(#fdd638, #f3c81e);
    background: linear-gradient(#fdd638, #f3c81e)
}

.popup-wrapper .popup footer .close-popup-link:hover {
    color: #77620d;
    background: #f3c81e;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f3c81e), to(#fdd638));
    background: -webkit-linear-gradient(#f3c81e, #fdd638);
    background: -moz-linear-gradient(#f3c81e, #fdd638);
    background: -ms-linear-gradient(#f3c81e, #fdd638);
    background: -o-linear-gradient(#f3c81e, #fdd638);
    background: linear-gradient(#f3c81e, #fdd638)
}

.popup-wrapper .popup footer .close-popup-link:before, .popup-wrapper .popup footer .close-popup-link:after {
    display: none
}

.popup-wrapper .popup h2 {
    padding: 0 0 16px;
    margin: 0
}

.popup-wrapper .popup h3 {
    line-height: 24px;
    padding: 0 0 17px;
    margin: 0
}

.popup-wrapper .popup h4 {
    font-weight: 700;
    padding: 0 0 15px;
    margin: 0
}

.popup-wrapper .popup header + h3 {
    padding: 3px 0 17px
}

.popup-wrapper .popup p {
    padding: 0 0 17px
}

.popup-wrapper .popup .form-popup {
    padding: 8px 0 22px
}

.popup-wrapper .popup .form-popup .form-holder {
    width: auto;
    margin: 0
}

.popup-wrapper .popup .form-popup .form-holder select, .popup-wrapper .popup .form-popup .form-holder input[type="text"], .popup-wrapper .popup .form-popup .form-holder input[type="tel"], .popup-wrapper .popup .form-popup .form-holder input[type="email"] {
    width: 400px
}

.popup-wrapper .popup .form-popup .form-holder .error-message {
    height: auto;
    font-size: 13px;
    color: #ee4c29;
    line-height: 14px;
    text-align: left;
    padding: 3px 4px 2px;
    position: relative;
    right: 0;
    top: 0;
    background: none;
    display: none
}

#form-contact-us .error {
    border: 1px solid red !important
}

.form-holder .valid {
    border: 1px solid green !important
}

.form-holder .error {
    border: 1px solid red !important
}

#form-contact-us .valid {
    border: 1px solid green !important
}

.popup-wrapper .popup .form-popup .form-holder .error-message:after {
    display: none
}

.popup-wrapper .popup .form-popup .button {
    border: 0;
    width: 100%;
    display: block;
    cursor: pointer;
    position: relative;
    outline: 0;
    padding: 20px 15px;
    background: #2288D0;
    color: #fff;
    font-size: 20px;
    height: 60px;
    line-height: normal;
    letter-spacing: -1px;
    border-radius: 5px;
    margin-top: 15px;
    max-width: 300px
}

.popup-wrapper .popup .form-popup .button:hover {
    color: #fff !important
}

.popup-wrapper #popup-declined .popup-inner {
    position: relative;
    padding: 27px 40px 40px
}

.popup-wrapper #popup-declined h2 {
    text-align: center;
    padding: 0 0 24px
}

.popup-wrapper #popup-declined h3 {
    font-size: 18px;
    line-height: 20px;
    text-transform: none;
    padding: 0 0 4px
}

.popup-wrapper #popup-declined .reason {
    text-align: center;
    padding: 23px 100px 25px;
    margin: 0 0 23px;
    border: 2px solid #F3351B;
    border-radius: 5px
}

.popup-wrapper #popup-declined .reason h3 {
    color: #F3351B;
    padding: 0 0 8px
}

.popup-wrapper #popup-declined ul {
    padding: 4px 0 3px 30px
}

.popup-wrapper #popup-declined form {
    padding: 12px 0 0;
    margin: 0
}

.popup-wrapper #popup-declined form .form-holder {
    width: 100%;
    padding: 0 0 10px
}

.popup-wrapper #popup-declined form .form-holder label {
    width: 150px;
    float: left;
    line-height: 34px
}

.popup-wrapper #popup-declined form .form-holder input[type="text"] {
    width: 300px
}

.popup-wrapper #popup-declined form .form-holder select, .popup-wrapper #popup-declined form .form-holder.cvv-code input[type="text"] {
    width: 100px !important;
    float: left;
    margin: 0 5px 0 0
}
.popup-wrapper #popup-declined form .form-holder select#CardType_pupup {
    width: 206px!important;
}
footer {
    max-width: none !important;
    color: #000 !important
}

.footer-menu li:last-child a {
    border-right: none
}

.footer-menu li a {
    color: #000 !important
}

.popup-wrapper .popup h3 {
    line-height: 24px;
    padding: 10px 0 17px;
    margin: 0;
    font-size: 18px
}

.popup-wrapper #popup-declined form .form-holder.cvv-code .cvv-link a {
    font-size: 12px;
    color: #6C3;
    line-height: 34px
}

.popup .cvv-link {
    margin-top: 0 !important
}

.popup-wrapper #popup-declined form .form-holder.cvv-code .cvv-image {
    height: auto;
    display: none;
    text-align: left;
    padding: 10px 0 0 150px;
    margin-left: 200px
}

.popup-wrapper #popup-declined form .form-holder.cvv-code .cvv-image img {
    width: 205px
}

.popup-wrapper #popup-declined form .button {
    width: 205px;
    margin: 0 0 0 150px
}

.popup-wrapper #popup-declined .lock {
    height: 30px;
    font-size: 11px;
    color: #999;
    line-height: 14px;
    text-align: right;
    padding: 1px 33px 0 0;
    position: absolute;
    right: 45px;
    bottom: 10px
}

.popup-wrapper #popup-declined .lock img {
    width: 32px;
    position: absolute;
    top: 0;
    right: 0
}

.popup-wrapper #popup-declined .tip {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 10px
}

.popup-wrapper #popup-declined .tip .icon {
    width: 30px;
    height: 30px;
    display: block;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    line-height: 32px;
    text-align: center;
    padding: 0 0 0 1px;
    position: relative;
    border-radius: 20px;
    background: #69C03B
}

.popup-wrapper #popup-declined .tip .text {
    width: 370px;
    font-size: 12px;
    color: #fff;
    line-height: 14px;
    display: none;
    text-align: right;
    padding: 10px 15px 12px;
    position: absolute;
    top: 45px;
    right: -10px;
    border-radius: 4px;
    background: #69C03B
}

.popup-wrapper #popup-declined .tip .text:before {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    right: 17px;
    top: -10px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #69C03B
}

.popup-wrapper #popup-declined .tip:hover .text, .popup-wrapper #popup-declined .tip:focus .text {
    display: block
}

.popup-loading-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1100;
    background: rgba(0, 0, 0, 0.95)
}

.popup-loading-wrapper .popup {
    min-width: 300px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.popup-loading-wrapper .popup h2 {
    width: 300px;
    font-size: 32px;
    color: #fff;
    line-height: 36px;
    padding: 7px 0 22px;
    margin: 0
}

.popup-loading-wrapper .popup h3 {
    line-height: 26px;
    padding: 0 0 24px;
    margin: 0;
    color: #fff
}

.popup-loading-wrapper .popup p {
    opacity: .5;
    font-size: 18px;
    padding: 8px 0 3px
}

.popup-loading-wrapper .popup .product-image {
    width: 110px;
    height: 176px;
    margin: 0 auto 6px;
    position: relative
}

.popup-loading-wrapper .popup {
    text-align: center !important
}

.popup-loading-wrapper .popup .lock-image {
    width: 90px;
    margin: 0 auto 3px
}

.popup-loading-wrapper .popup .loading-image {
    width: 70px;
    height: 70px;
    margin: auto;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite
}

.popup-banner-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.8)
}

.popup-banner-wrapper .popup-banner {
    padding: 50px 10px 0
}

.popup-banner-wrapper .popup-banner figure a {
    max-width: 600px;
    margin: auto;
    display: block
}

.popup-banner-wrapper .popup-banner figure a img {
    width: 100%
}

.popup#popup-mobile-order-form .popup-inner {
    padding: 0;
    box-shadow: none;
    background: none
}

.popup#popup-mobile-order-form form {
    width: 300px;
    margin: auto;
    position: relative;
    z-index: 10;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
    -o-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    background: #fff
}

.popup#popup-mobile-order-form form header {
    height: 65px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #6c571c;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    padding: 14px 0 0;
    margin: 0 0 20px;
    border-radius: 3px;
    -webkit-text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    -moz-text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    -o-text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    background: #FAC021
}

.popup#popup-mobile-order-form form header span {
    font-size: 30px;
    display: block;
    letter-spacing: -1px;
    padding: 3px 0 0
}

.popup#popup-mobile-order-form form .form-holder {
    margin: 0 20px
}

.popup#popup-mobile-order-form form .button {
    width: 260px;
    height: 60px;
    font-size: 30px;
    line-height: 22px;
    padding: 3px 0 0;
    margin: 0 20px;
    position: relative;
    border-radius: 6px
}

.popup#popup-mobile-order-form form .button span {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px
}

.popup#popup-mobile-order-form form .icons {
    width: 192px;
    height: 43px;
    margin: 20px auto 0
}

.popup#popup-mobile-order-form form footer {
    text-align: center;
    padding: 20px 0;
    margin: 17px 20px 0
}

.popup#popup-mobile-order-form form footer .button {
    width: auto;
    height: 38px;
    display: inline-block;
    font-size: 20px;
    color: #766118;
    line-height: 38px;
    opacity: 1;
    top: 0;
    padding: 0 25px;
    border: none;
    border-radius: 3px;
    background: #F0C435
}

.footer-menu {
    text-align: center;
    padding-left: 0
}

.footer-menu li {
    display: inline-block;
    list-style: none;
    float: none;
    padding: 0 5px
}

.footer-menu li:first-child {
    border: none
}

.footer-menu li a {
    font-size: 11px;
    text-transform: uppercase;
    color: #666
}

.footer-menu li a:hover {
    text-decoration: none
}

.popup input, select {
    vertical-align: middle
}

.popup select, .popup textarea, .popup input[type=tel], .popup input[type=text], .popup input[type=email], .popup input[type=password], .popup input[type=number] {
    width: 100%;
    height: 34px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    font-family: sans-serif;
    color: #52585d;
    font-style: normal;
    text-indent: 0;
    line-height: 16px;
    outline: none;
    padding: 0 10px;
    margin: 0;
    border-radius: 5px;
    border: 1px solid #D4D4D4;
    background: #fff
}

.popup select {
    padding: 7px 6px 8px
}

.popup textarea::-webkit-input-placeholder, .popup input[type=tel]::-webkit-input-placeholder, .popup input[type=text]::-webkit-input-placeholder, .popup input[type=email]::-webkit-input-placeholder, .popup input[type=password]::-webkit-input-placeholder, .popup input[type=number]::-webkit-input-placeholder {
    color: #52585d;
    font-size: 14px;
    font-style: normal
}

.popup textarea::-moz-placeholder, .popup input[type=tel]::-moz-placeholder, .popup input[type=text]::-moz-placeholder, .popup input[type=email]::-moz-placeholder, .popup input[type=password]::-moz-placeholder, .popup input[type=number]::-moz-placeholder {
    color: #52585d;
    font-size: 14px;
    font-style: normal
}

.popup textarea:-moz-placeholder, .popup input[type=tel]:-moz-placeholder, .popup input[type=text]:-moz-placeholder, .popup input[type=email]:-moz-placeholder, .popup input[type=password]:-moz-placeholder, .popup input[type=number]:-moz-placeholder {
    color: #52585d;
    font-size: 14px;
    font-style: normal
}

.popup textarea:-ms-input-placeholder, .popup input[type=tel]:-ms-input-placeholder, .popup input[type=text]:-ms-input-placeholder, .popup input[type=email]:-ms-input-placeholder, .popup input[type=password]:-ms-input-placeholder, .popup input[type=number]:-ms-input-placeholder {
    color: #52585d;
    font-size: 14px;
    font-style: normal
}

.popup select:focus, .popup textarea:focus, .popup input[type=tel]:focus, .popup input[type=text]:focus, .popup input[type=email]:focus, .popup input[type=password]:focus, .popup input[type=number]:focus {
    margin: 0;
    font-size: 14px;
    border: 1px solid #aaa;
    font-style: normal
}

.popup button {
    outline: none
}

.popup textarea {
    width: 90%;
    height: 100px;
    resize: vertical;
    padding: 10px
}

.popup .form-holder {
    padding: 0 0 7px
}

.popup * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.stamp.stamp-madeinca {
    background: url(../images/sprite-s239be3fe7d.png) 0 -432px no-repeat;
    height: 96px;
    width: 116px;
}
.popup .button span {
    position: relative;
    z-index: 1
}

.popup footer {
    width: 100%
}

.mobile-button, footer .mobile-button.button {
    display: none
}

.form-holder {
    position: relative
}

.has-error {
    position: relative
}

.has-error .accept-icon, .accept .accept-icon {
    width: 14px;
    height: 12px;
    display: block;
    position: absolute;
    top: 12px;
    left: -18px
}

.has-error .error {
    border: 1px solid #EF4B52
}

.accept select {
    border: 1px solid #3BB400 !important
}

.accept input {
    border: 1px solid #3BB400
}

.inner-page .has-error .accept-icon {
    left: -17px
}

.inner-page .accept .accept-icon {
    left: -17px
}

.confirmation-section .error-message {
    height: 32px;
    display: none;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    white-space: nowrap;
    padding: 0 10px;
    margin: 0 35px 0 0;
    position: absolute;
    right: 100%;
    top: 1px;
    z-index: 16;
    border-radius: 3px 0 0 3px;
    background: #EF4B52
}

.confirmation-section .has-error .error-message {
    display: block
}

.popup h2 {
    font-weight: 700;
    font-size: 34px;
    line-height: 34px;
    text-indent: 0
}

.popup h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-indent: 0
}

.popup {
    font-family: sans-serif
}

.cvv-image {
    display: none;
    text-align: center;
    padding: 0 0 0
}

.cvv-image img {
    width: 190px;
    margin: auto
}

.footer-info {
    margin: 0 !important
}

.inner-page .container.cf {
    padding: 0 0 50px
}

.popup-wrapper, .inner-page .popup-wrapper {
    width: 100%;
    height: 100%;
    display: none;
    overflow: scroll;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8)
}

.popup-wrapper .popup {
    max-width: 900px;
    display: none;
    font-size: 14px;
    line-height: 20px;
    padding: 0 0 50px;
    position: relative;
    top: 50px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
}

.popup-wrapper .popup .popup-inner {
    padding: 34px 40px 40px;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 0 15px 50px 0 rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 15px 50px 0 rgba(0, 0, 0, .15);
    -o-box-shadow: 0 15px 50px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, .15);
    background: #fff
}

.popup-wrapper .popup .close-popup-link {
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    top: 15px;
    right: 15px
}

.popup-wrapper .popup .close-popup-link:before, .popup-wrapper .popup .close-popup-link:after {
    content: '';
    width: 14px;
    height: 2px;
    display: block;
    position: absolute;
    left: -1px;
    top: 5px;
    background: #000
}

.popup-wrapper .popup .close-popup-link:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.popup-wrapper .popup .close-popup-link:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.popup-wrapper .popup footer {
    text-align: center;
    padding: 30px 0 0;
    margin: 8px 0 0;
    border-top: 1px solid #ddd;
    top: auto;
    background: none !important;
    position: static !important
}

.popup-wrapper .popup footer .close-popup-link {
    width: auto;
    height: 38px;
    display: inline-block;
    font-size: 20px;
    color: #766118;
    line-height: 36px;
    letter-spacing: -.5px;
    opacity: 1;
    padding: 0 25px;
    position: relative;
    top: 0;
    right: 0;
    border: 1px solid #e0b712;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 #ffe786;
    -moz-box-shadow: inset 0 1px 0 #ffe786;
    -o-box-shadow: inset 0 1px 0 #ffe786;
    box-shadow: inset 0 1px 0 #ffe786;
    -webkit-text-shadow: 1px 1px 0 #fbe27e;
    -moz-text-shadow: 1px 1px 0 #fbe27e;
    -o-text-shadow: 1px 1px 0 #fbe27e;
    text-shadow: 1px 1px 0 #fbe27e;
    background: #fdd638;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fdd638), to(#f3c81e));
    background: -webkit-linear-gradient(#fdd638, #f3c81e);
    background: -moz-linear-gradient(#fdd638, #f3c81e);
    background: -ms-linear-gradient(#fdd638, #f3c81e);
    background: -o-linear-gradient(#fdd638, #f3c81e);
    background: linear-gradient(#fdd638, #f3c81e);
    text-decoration: none !important
}

.popup-wrapper .popup .form-popup .form-holder.has-error .error-message {
    display: block;
    position: static
}

.popup-wrapper .popup .form-popup .form-holder.has-error .error-message:before {
    display: none
}

.popup-wrapper .popup footer .close-popup-link:hover {
    color: #77620d;
    background: #f3c81e;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f3c81e), to(#fdd638));
    background: -webkit-linear-gradient(#f3c81e, #fdd638);
    background: -moz-linear-gradient(#f3c81e, #fdd638);
    background: -ms-linear-gradient(#f3c81e, #fdd638);
    background: -o-linear-gradient(#f3c81e, #fdd638);
    background: linear-gradient(#f3c81e, #fdd638)
}

.popup-wrapper .popup footer .close-popup-link:before, .popup-wrapper .popup footer .close-popup-link:after {
    display: none
}

.popup-wrapper .popup h2 {
    padding: 0 0 16px;
    font-size: 34px;
    margin: 0;
    line-height: normal
}

.popup-wrapper .popup h3 {
    line-height: 24px;
    padding: 10px 0 17px;
    margin: 0;
    font-size: 18px
}

.popup-wrapper .popup header + h3 {
    padding: 3px 0 17px
}

.popup-wrapper .popup h4 {
    font-weight: 700;
    padding: 0 0 15px;
    margin: 0;
    line-height: normal;
    font-size: 18px
}

.popup-wrapper .popup p {
    padding: 0 0 17px
}

.popup-wrapper .popup .form-popup {
    padding: 8px 0 22px
}

.popup-wrapper .popup .form-popup .form-holder {
    width: auto;
    margin: 0
}

.popup-wrapper .popup .form-popup .form-holder select, .popup-wrapper .popup .form-popup .form-holder input[type="text"], .popup-wrapper .popup .form-popup .form-holder input[type="email"] {
    width: 400px;
    margin-top: 10px;
    border-radius: 5px;
    height: 30px;
    background: #fff;
    text-indent: 10px;
    padding: 0
}

.popup-wrapper .popup .form-popup .form-holder textarea {
    margin-top: 10px;
    border-radius: 5px;
    max-width: 550px;
    min-height: 120px;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px
}

.popup-wrapper .popup .form-popup .form-holder .error-message {
    height: auto;
    font-size: 13px;
    color: #EF4B52;
    line-height: 14px;
    text-align: left;
    padding: 3px 4px 2px;
    position: relative;
    right: 0;
    top: 0;
    background: none;
    margin-top: 0
}

.ship-info input, .ship-info select {
    margin-bottom: 15px
}

.radio .title {
    font-size: 21px;
    margin-bottom: 15px
}

.popup-wrapper .popup .form-popup .form-holder .error-message:after {
    display: none
}

.popup-wrapper .popup .form-popup .button {
    padding: 12px 50px;
    font-size: 26px;
    letter-spacing: -2px;
    word-spacing: -2px;
    -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .3);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .3);
    background: #fe5d25;
    line-height: 32px;
    color: #fff;
    border-radius: 4px;
    border: none;
    position: relative !important;
    font-family: Roboto Condensed, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none !important;
    display: block;
    margin-top: 15px;
    cursor: pointer
}

.captcha {
    margin-top: 10px
}

.popup-wrapper .popup .form-popup .button:hover {
    color: #fff !important
}

.popup-wrapper #popup-declined .popup-inner {
    position: relative;
    padding: 27px 40px 40px
}

.popup-wrapper #popup-declined h2 {
    text-align: center;
    padding: 0 0 24px
}

.popup-wrapper #popup-declined h3 {
    font-size: 18px;
    line-height: 20px;
    text-transform: none;
    padding: 0 0 4px
}

.popup-wrapper #popup-declined .reason {
    text-align: center;
    padding: 23px 100px 25px;
    margin: 0 0 23px;
    border: 2px solid #EF4B52;
    border-radius: 5px
}

.popup-wrapper #popup-declined .reason h3 {
    color: #EF4B52;
    padding: 0 0 8px
}

.popup-wrapper #popup-declined ul {
    padding: 4px 0 3px 30px
}

.popup-wrapper #popup-declined form {
    padding: 12px 0;
    margin: 0
}

.popup-wrapper #popup-declined form .form-holder {
    width: 100%;
    padding: 0 0 10px
}

.popup-wrapper #popup-declined form .form-holder label {
    width: 200px;
    padding-top: 0!important;
    float: left;
    font-size: 15px;
    line-height: 34px
}

.popup-wrapper #popup-declined form .form-holder input[type="tel"] {
    width: 206px;
    border-radius: 5px;
    margin-top: 0
}

#form_declined .valid {
    border: 1px solid #00a400 !important
}

.popup-wrapper #popup-declined form .form-holder select, .popup-wrapper #popup-declined form .form-holder.cvv-code input[type="tel"] {
    width: 100px !important;

    margin: 0 5px 0 0;
    border-radius: 5px;
    float: left!important;
}
.popup-wrapper #popup-declined form .form-holder.cvv-code .cvv-link a{
    margin-left: 10px;
}

.popup-wrapper #popup-declined form .form-holder.cvv-code .cvv-link a {
    font-size: 12px;
    color: #0699EE;
    line-height: 34px
}

.popup-wrapper #popup-declined form .form-holder.cvv-code .cvv-image {
    height: auto;
    display: none;
    text-align: left;
    padding: 10px 0 0 0
}

.popup-wrapper #popup-declined form .form-holder.cvv-code .cvv-image img {
    width: 205px
}

.popup-wrapper #popup-declined form .button {
    width: 208px;
    margin: 0 0 0 199px
}

.popup-wrapper #popup-declined .lock {
    height: 30px;
    font-size: 11px;
    color: #999;
    line-height: 14px;
    text-align: right;
    padding: 1px 33px 0 0;
    position: absolute;
    right: 45px;
    bottom: 10px
}

.popup-wrapper #popup-declined .lock img {
    width: 32px;
    position: absolute;
    top: 0;
    right: 0
}

.popup-wrapper #popup-declined .tip {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 10px
}

.popup-wrapper #popup-declined .tip .icon {
    width: 30px;
    height: 30px;
    display: block;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    line-height: 32px;
    text-align: center;
    padding: 0 0 0 1px;
    position: relative;
    border-radius: 20px;
    background: #0699EE
}

.popup-wrapper #popup-declined .tip .text {
    width: 370px;
    font-size: 12px;
    color: #fff;
    line-height: 14px;
    display: none;
    text-align: right;
    padding: 10px 15px 12px;
    position: absolute;
    top: 45px;
    right: -10px;
    border-radius: 4px;
    background: #0699EE
}

.popup-wrapper #popup-declined .tip .text:before {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    right: 17px;
    top: -10px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #0699EE
}

.popup-wrapper #popup-declined .tip:hover .text, .popup-wrapper #popup-declined .tip:focus .text {
    display: block
}

.popup-loading-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1100;
    background: rgba(0, 0, 0, 0.95)
}

.popup p {
    margin: 0
}

.popup-loading-wrapper .popup {
    min-width: 300px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.popup-loading-wrapper .popup h2 {
    width: 300px;
    font-size: 32px;
    color: #fff;
    line-height: 36px;
    padding: 7px 0 22px
}

.popup-loading-wrapper .popup h3 {
    line-height: normal;
    padding: 0 0 24px;
    color: #fff
}

.popup-loading-wrapper .popup p {
    opacity: .5;
    font-size: 18px;
    padding: 8px 0 3px
}

.popup-loading-wrapper .popup .product-image {
    width: 114px;
    height: 207px;
    margin: 0 auto 6px;
    position: relative;
    background: url(../images/product.png) no-repeat;
    background-size: contain;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg)
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.floating-bar.float {
    display: none !important;
    opacity: 0
}

.popup-loading-wrapper .popup .lock-image {
    width: 90px;
    margin: 0 auto 3px
}

.popup-loading-wrapper .popup .loading-image {
    width: 70px;
    height: 70px;
    margin: auto;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite
}

.popup-banner-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.8)
}

.popup-banner-wrapper .popup-banner {
    padding: 50px 10px 0
}

.popup-banner-wrapper .popup-banner figure a {
    max-width: 600px;
    margin: auto;
    display: block
}

.popup-banner-wrapper .popup-banner figure a img {
    width: 100%
}

.popup#popup-mobile-order-form .popup-inner {
    padding: 0;
    box-shadow: none;
    background: none
}

.popup#popup-mobile-order-form form {
    width: 300px;
    margin: auto;
    position: relative;
    z-index: 10;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
    -o-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    background: #fff
}

.popup#popup-mobile-order-form form header {
    height: 65px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #6c571c;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    padding: 14px 0 0;
    margin: 0 0 20px;
    border-radius: 3px;
    -webkit-text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    -moz-text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    -o-text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    background: #FAC021
}

.popup#popup-mobile-order-form form header span {
    font-size: 30px;
    display: block;
    letter-spacing: -1px;
    padding: 3px 0 0
}

.popup#popup-mobile-order-form form .form-holder {
    margin: 0 20px
}

.popup#popup-mobile-order-form form .button {
    width: 260px;
    height: 60px;
    font-size: 30px;
    line-height: 22px;
    padding: 3px 0 0;
    margin: 0 20px;
    position: relative;
    border-radius: 6px
}

.popup#popup-mobile-order-form form .button span {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px
}

.popup#popup-mobile-order-form form .icons {
    width: 192px;
    height: 43px;
    margin: 20px auto 0
}

.popup#popup-mobile-order-form form footer {
    text-align: center;
    padding: 20px 0;
    margin: 17px 20px 0
}

.popup#popup-mobile-order-form form footer .button {
    width: auto;
    height: 38px;
    display: inline-block;
    font-size: 20px;
    color: #766118;
    line-height: 38px;
    opacity: 1;
    top: 0;
    padding: 0 25px;
    border: none;
    border-radius: 3px;
    background: #F0C435
}

.popup-wrapper .popup ul + h3 {
    padding-top: 10px !important
}

.popup {
    text-align: left !important
}

input::-webkit-input-placeholder {
    color: #787878 !important
}

input:-moz-placeholder {
    color: #787878 !important
}

input::-moz-placeholder {
    color: #787878 !important
}

input:-ms-input-placeholder {
    color: #787878 !important
}

input::-ms-input-placeholder {
    color: #787878 !important
}

input::placeholder {
    color: #787878 !important
}

@media screen and (max-width: 1199px) {
    .formBody button {
        height: 68px;
        background-size: 100% auto
    }
}

@media screen and (max-width: 990px) {
    .confirmation-page .popup-wrapper .popup {
        padding: 10px
    }

    .formBody button {
        height: 54px
    }

    .main-page .formTop {
        font-size: 26px
    }

    #wrapper {
        width: auto
    }

    .inner-block, .inner-page .inner-block {
        width: auto;
        padding: 0 15px;
    }

    .confirmation-section {
        padding: 35px 0 0
    }

    .confirmation-section h2 {
        font-size: 42px;
        line-height: 42px;
        padding: 0 0 23px
    }

    .confirmation-section h3 {
        font-size: 26px;
        padding: 0
    }

    .confirmation-section .form form input[type="text"] {
        width: 100%
    }
    .confirmation-section .form form button.button{
        width: 100%;
        margin-top: 15px;
    }

    .popup-wrapper .popup {
        max-width: none;
        padding: 10px;
        top: 0;
        left: 0;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    .popup-wrapper .popup h3 {
        padding: 0 0 12px
    }

    .popup-wrapper .popup ul + h3, .popup-wrapper .popup p + h3 {
        padding: 0 0 12px
    }

    .popup-wrapper #popup-declined .reason {
        padding: 24px 70px 23px
    }
}

@media screen and (max-width: 767px) {
    .popup-wrapper #popup-declined form .buttonP {
        width: 100% !important
    }

    .confirmation-section .info .inner-block {
        padding: 15px 10px
    }

    .popup-wrapper #popup-declined .tip .text {
        width: 300px;
        text-align: left
    }

    .main-page .row {
        margin: 0
    }

    .popup-wrapper #popup-declined form .form-holder.cvv-code .cvv-image {
        padding: 15px 0 0
    }

    .popup-wrapper #popup-declined .popup-inner {
        padding: 27px 15px 40px
    }

    .popup-wrapper .popup .form-popup .form-holder select, .popup-wrapper .popup .form-popup .form-holder input[type="text"], .popup-wrapper .popup .form-popup .form-holder input[type="email"] {
        width: 100%
    }

    .popup-wrapper .popup .popup-inner {
        padding: 34px 30px 40px
    }

    .popup-wrapper #popup-declined form .form-holder label {
        display: block;
        width: 100% !important
    }

    .popup-wrapper #popup-declined form .button {
        margin: 15px 0 !important;
        width: 100% !important
    }

    .popup-wrapper #popup-declined .reason {
        padding: 23px 15px 25px !important
    }

    .popup-wrapper #popup-declined form .form-holder input[type="tel"] {
        width: 100% !important;
        max-width: 237px
    }

    .popup-wrapper #popup-declined form .form-holder select, .popup-wrapper #popup-declined form .form-holder.cvv-code input[type="tel"] {
        width: 115px !important
    }

    .popup-wrapper .popup .form-popup .form-holder select, .popup-wrapper .popup .form-popup .form-holder input[type="text"], .popup-wrapper .popup .form-popup .form-holder input[type="email"] {
        height: 37px
    }

    .popup select, .popup textarea, .popup input[type=tel], .popup input[type=text], .popup input[type=email], .popup input[type=password], .popup input[type=number] {
        height: 37px
    }

    .popup-wrapper #popup-declined form .form-holder label {
        line-height: 18px
    }

    .popup-wrapper #popup-declined form .form-holder.cvv-code .cvv-image {
        padding: 10px 0 0 !important
    }

    .popup-wrapper #popup-declined form .button {
        margin: 15px 0 !important;
        width: 235px !important
    }

    .error-message:after {
        display: none
    }

    .logo {
        width: 147px
    }

    .popup-wrapper .popup .form-popup .form-holder select, .popup-wrapper .popup .form-popup .form-holder input[type="text"], .popup-wrapper .popup .form-popup .form-holder input[type="tel"], .popup-wrapper .popup .form-popup .form-holder input[type="email"] {
        max-width: 70%
    }

    .confirmation-section h2 {
        font-size: 28px;
        line-height: 32px
    }

    .confirmation-section h3 {
        font-size: 17px
    }

    .confirmation-section .form h4 {
        font-size: 19px
    }

    .confirmation-page .confirmation-section .form form .button {
        width: 180px;
        font-size: 18px;
        padding: 0 10px
    }

    .formBox.center-block {
        margin: 0 auto 50px
    }

    .confirmation-section .error-message, .confirmation-section .form-holder.exp-date .error-message {
        height: auto;
        font-size: 12px;
        color: #EF4B52;
        line-height: 22px;
        padding: 0;
        margin: 0;
        position: relative;
        top: 0;
        left: 0;
        background: none
    }

    .error-message:after {
        display: none
    }

    .formBox center img {
        width: auto
    }

    .stayingKetosis h2 {
        line-height: 80px
    }

    .formBody button {
        height: 90px;
        background-size: auto;
        background-position: center
    }

    .confirmation-page .inner-block {
        width: 440px
    }

    .confirmation-page .form form input[type="text"] {
        width: 242px
    }
}

@media screen and (max-width: 480px) {
    body {
        min-width: 320px
    }

    #theproof img {
        width: 300px;
        height: auto;
        margin: auto
    }

    .confirmation-page .inner-block {
        width: 300px
    }

    .confirmation-section h3 {
        line-height: 22px;
        padding: 0 0 10px
    }

    .confirmation-section h4 {
        font-size: 17px
    }

    .confirmation-page .form form input[type="text"], .confirmation-page .confirmation-section .form form .button {
        width: 100%;
        margin: 0 0 10px;
        float: none
    }

    .popup-wrapper .popup .form-popup .form-holder select, .popup-wrapper .popup .form-popup .form-holder input[type="text"], .popup-wrapper .popup .form-popup .form-holder input[type="email"], .popup textarea {
        width: 100%
    }

    .popup-wrapper .popup h2 {
        font-size: 28px;
        line-height: 30px
    }
}

@media screen and (max-width: 370px) {
    .formBody button {
        height: 90px;
        background-size: 100% auto
    }

    .navbar-brand {
        letter-spacing: -.5px;
        padding: 10px 0 0
    }

    .c2abtn {
        font-size: 26px
    }

    #theproof img, .vsdwn img {
        width: 100%;
        height: auto
    }
}

@media screen and (max-height: 340px) {
    .popup-loading-wrapper .popup p {
        padding: 3px 0
    }

    .popup-loading-wrapper .popup h2 {
        padding: 2px 0 7px
    }
}

.confirmation .l-grid {
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%
}

.confirmation footer ul {
    margin: 0;
    padding: 0
}

.confirmation .b-disclaimer p {
    margin: 0
}

.confirmation .b-disclaimer {
    background: #f8f8f8;
    color: #454545;
    border-top: 1px solid #d9d3d3;
    padding: 35px 0;
    text-align: center;
    font-size: 12px
}

.confirmation footer ul li {
    display: inline-block;
    margin: 0 10px
}

.confirmation footer ul li a {
    font-size: 14px;
    text-decoration: none;
    color: #fdfdfd
}

.confirmation .b-footer {
    position: static;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 0;
    background: #7e7d84;
    text-align: center
}

.error-message {
    height: 32px;
    display: none;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    white-space: nowrap;
    padding: 0 10px;
    margin: 0 35px 0 0;
    position: absolute;
    right: 100%;
    top: 1px;
    z-index: 99999;
    border-radius: 3px 0 0 3px;
    background: #EF4B52
}

.has-error .accept-icon {
    background: url(../images/first-section-form-error.png) no-repeat center
}

.accept .accept-icon {
    background: url(../images/first-section-form-ok.png) no-repeat center
}

.has-error .accept-icon, .accept .accept-icon {
    width: 14px;
    height: 12px;
    display: block;
    position: absolute;
    top: 12px;
    left: -18px
}

.has-error .error-message {
    display: block
}

.error-message:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    border-top: 16px solid transparent;
    border-left: 10px solid #EF4B52;
    border-bottom: 16px solid transparent
}

@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
    .popup-loading-wrapper .popup .product-image {
        background-image: url(../images/product@2x.png) !important;

    }
}