@charset "utf-8";
/* CSS Document */
body {
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	padding:0;
	text-align:center;
	/*background:url(../images/mainbg.jpg) left top repeat;*/
}
@font-face {
    font-family: 'MyriadProBoldCondensed';
    src: url('../fonts/myriadpro-boldcond.eot');
    src: url('../fonts/myriadpro-boldcond.eot') format('embedded-opentype'),
         url('../fonts/myriadpro-boldcond.woff') format('woff'),
         url('../fonts/myriadpro-boldcond.ttf') format('truetype'),
         url('../fonts/myriadpro-boldcond.svg#MyriadProBoldCondensed') format('svg');
}
@font-face {
    font-family: 'MyriadProBlackCondensedItalic';
    src: url('../fonts/myriadpro-blackcondit.eot');
    src: url('../fonts/myriadpro-blackcondit.eot') format('embedded-opentype'),
         url('../fonts/myriadpro-blackcondit.woff') format('woff'),
         url('../fonts/myriadpro-blackcondit.ttf') format('truetype'),
         url('../fonts/myriadpro-blackcondit.svg#MyriadProBlackCondensedItalic') format('svg');
}


/*
START UTILITY
*/
div, ul, h1, h2, h3, h5,li, p, img, form, input, textarea {
	margin:0;
	padding:0;
}

a {
    outline: none;
	color:#333;
	text-decoration:underline;
}

a:hover {
    outline: none;
	color:#000;
	text-decoration:none;
}

img {
	border:none;
}

li {
	list-style:none;
}


.clearall {
	clear:both;
	font-size:1px;
	line-height:1px;
	height:1px;
}
#chk-bg{
	background:url(../images/check-bg.jpg) no-repeat center top;
	position:relative;
	height: 1296px;
}
#chk1-bg{
	background:url(../images/special-oto-bg.png) no-repeat center top;
	position:relative;
	height:1050px;}
#product-info {
	width:600px;
	float:left;
	height:985px;
	margin: 183px 0 0 40px;
	}

a.green{
	color:#f4fd00;
	text-decoration:none;
	margin-top:13px;
	float:left;
	}

.contentWrap{
	width:1004px;
	margin:0 auto;
}

.btmtxt{
	position:absolute;
	top:970px;
	width:93%;
	left:33px;
	color:#6a6a6a;
	text-align:justify;
	font-family:Tahoma;
	font-size:13px;
	}
.title-package02 {
    color: #ec3301;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
}
.title-package02 span{
	font-size:11px;
	color:#206502;
	text-align:left;
	}
.title-package, .rgttxt2, .title-package a ,rgttxt2 a ,.title-package a:hover, .rgttxt2 a:hover {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
	text-decoration:none;
	height:44px;
	text-shadow:1px 1px #12566e;
	font-size:17px;
	}
.rgttxt2, .rgttxt2 a, .rgttxt2 a:hover{
	color:#ffff00;
	text-shadow:1px 1px #12566e;
	}
.title-package{
	padding: 0;
}
.loose, .loosetwo{
	font-family:Arial;
	font-size:30px;
	text-align:center;
	font-weight:bold;
	}
.loose{
	padding:0 0 0 0;
	width:221px;
	}
.loosetwo{
	font-style:italic;
	color: #ec3301;
	font-size:15px;
}
.loose span, .loosetwo span	{
	font-size:17px;
	color:#2e2e2e;
	}
.btlimg{
	float:left;
	margin: 0 0 0 20px;
	}
.btlimg2{
	float:left;
	margin:10px 0 0 70px;
	}
.savetxt, .savetxt2, .savetxt3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#ffffff;
	position:relative;
	left:-40px;
	top:110px;
	float:left;
	text-transform:uppercase;
	letter-spacing:-1px;
	}
.savetxt2{
	left:296px;
	top:-33px;
	}
.savetxt3{
	left:-43px;
	top:86px;
	font-size:12px;
	}
.selectbtn{
	float:right;
	padding:0 0 15px 0;
	}
#price-leftside {
    float: left;
    height: auto;
    margin: auto;
    padding:0 0 0 0;
    width:600px;
}
#field-form {
    font-size: 11px;
    height: 22px;
    margin: 3px auto auto 5px;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 10px;
    width: 163px;
}
#field-form input {
    height: 20px;
    width: 150px;
}
#field-form select {
    height: 20px;
    width: 150px;
}
#field-form02 {
    height: 22px;
    margin: 3px auto auto 10px;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 10px;
    width: 63px;
}
#field-form02 input {
    height: 20px;
}
#field-form02 select {
    height: 20px;
}
.link-container-1 {
    height: auto;
    width: auto;
}
.link-container-1 a, .link-container-3 a, .link-container-5 a, .link-container-2 a {
	background:url(../images/in-active_03.png) no-repeat left top;
    display: block;
    float: left;
    height: 161px;
    margin: auto auto 9px;
    width:579px;
	text-decoration:none;
}
.link-container-1 a:hover, .link-container-3 a:hover, .link-container-5 a:hover, .link-container-2 a:hover {
	background-image:url(../images/box-active_03.png);
    color: #333333;
    display: block;
    float: left;
    height: 161px;
    margin: auto auto 9px;
    width:579px;
	text-decoration:none;
}
.link-container-1 a.picked, .link-container-3 a.picked, .link-container-5 a.picked, .link-container-2 a.picked {
	background-image:url(../images/box-active_03.png);
    display: block;
    float: left;
    height: 161px;
    margin: auto auto 9px;
    width:579px;
	text-decoration:none;
}
.link-container-1 a, .link-container-3 a, .link-container-5 a, .link-container-2 a, .link-container-1 a.picked, .link-container-3 a.picked, .link-container-5 a.picked, .link-container-2 a.picked .hding2{
	color:#a5e104;
	font-family:Arial, Helvetica, sans-serif;}
.link-container-1 a, .link-container-3 a, .link-container-5 a, .link-container-2 a, .link-container-1 a:hover, .link-container-3 a:hover, .link-container-5 a:hover, .link-container-2 a:hover .hding2{
	color:#a5e104;
	font-family:Arial, Helvetica, sans-serif;}
/*.link-container-1 a.picked, .link-container-3 a.picked, .link-container-5 a.picked, .link-container-2 a.picked .hding1{
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;}
.link-container-1 a:hover, .link-container-3 a:hover, .link-container-5 a:hover, .link-container-2 a:hover .hding1{
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;}*/
.frmhding{
	font-family: 'american_purposeregular';
	font-size:24px;
	color:#422a04;
	line-height:24px;
	text-align:left;
	padding:35px 0 0 81px;
	background:url(../images/fi.png) 25px 40px no-repeat;
	}
.frmhding span{
	color:#422a04;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	}
.frmtxt, .frmtxttwo{
	font-family:Arial;
	font-size:15px;
	color:#fff;
	text-align:right;
	padding-top:10px;
	}
.frmtxttwo{
	font-size:13px;
	text-align:left;
	}
.frmtxttwo a, .frmtxttwo a:hover{
	color:#fff;
	text-decoration:none;
	}
.lock{
	float:left;
	margin:5px 0 0 30px;
	}
.securehding{
	font-family:Arial;
	font-size:11px;
	color:#000;
	text-align:left;
	padding-top:10px;
	text-transform:uppercase;
	}
.secureftr{
	font-size:12px;
	font-family:Arial;
	color:#000;
	text-align:center;
	padding-right:30px;
	}
.secimg{
	float:left;
	margin:15px 0 0 5px;
	}
.guarantee{
	float:left;
	margin:25px 0 0 60px;
	}
div#orderftr{
	clear:both;
	width:912px;
	height:232px;
	margin:-30px auto;
	padding:0 4px;
	border:1px solid #70a13c;
	}
.shiporder{
	*padding:25px 0 0 0;
	}
#testimonial{
	position:relative;
	top:205px;
	}
.lft-test{
	font-family:Arial, Helvetica, sans-serif;
	color:#483e59;
	position:absolute;
	left:200px;
	width:360px;
	}
.lft-test p{
	font-family:Arial, Helvetica, sans-serif;
	color:#483e59;
	font-size:15px;
	width:348px;
	}
.rgt-test{
	font-family:Arial, Helvetica, sans-serif;
	color:#483e59;
	position:absolute;
	left:675px;
	width:360px;
	top:20px;
	}
.rgt-test p{
	color:#483e59;
	font-size:15px;
	width:348px;
	}
.mid-test{
	font-family:Arial, Helvetica, sans-serif;
	color:#483e59;
	position:absolute;
	left:284px;
	width:360px;
	top:185px;
	}
.mid-test p{
	color:#483e59;
	font-size:15px;
	width:348px;
	}
.ftrtxt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#ababab;
	text-align:center;
	clear:both;
	*padding-top:40px;
	line-height:20px;
	padding-bottom:20px;
	}
.ftrtxt a, .ftrtxt a:hover{
	color:#6d6d6d;
	text-decoration:none;
	}
.freeshipping{
	float:left;
	margin:-5px 0 0 0;
	}
.hding1{
	font-size:22px;
	line-height:25px;
	text-decoration:none;
    font-family: 'MyriadProBoldCondensed';


/*	width:190px;
*/	}
.hding1 span{
	color:#170202;
	font-size:21px;
	text-decoration:none;
	letter-spacing:-1px;
	    font-family: 'MyriadProBoldCondensed';
		line-height:32px;

	}
.hding2{
	font-size:37px;
/*	color:#a5e104;
*/	text-align:left;
	font-weight:bold;
	letter-spacing:-1px;
	padding-left:-10px;
	line-height:30px;
    font-family: 'MyriadProBlackCondensedItalic';



	}
.hding3{
	font-size:13.7px;
	color:#ffffff;
	text-align:left;
	font-weight:bold;
	letter-spacing:-1px;
	padding-left:50px;
	font-style:italic;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;


	}
.hding2 span{
	font-size:16px;
	color:#1f1f1f;
   font-family: 'MyriadProBoldCondensed';


	}
.lftftr{
	height:206px;
	width:552px;
	margin:20px 0 0 0;
	clear:both;
	background:url(../images/order-summery.jpg) center top no-repeat;
	}
ul.ordertbl{
	margin:0 0 0 191px;
	height:130px;
	width:355px;
	padding-top:30px;
	}
ul.ordertbl li{
	float:left;
	display:inline-block;
	/*border:1px solid red;*/
	}
ul.ordertbl li.odrlft{
	width:125px;
	}
ul.ordertbl li.odrrgt{
	width:200px;
	}
ul.ordertbl li.odrlft ul li, ul.ordertbl li.odrrgt ul li{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000000;
	text-align:right;
	clear:both;
	float:right;
	}
.frmhding2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#ffffff;
	text-align:center;
	line-height:34px;
	clear:both;
	}
ul.weaccept{
	clear:both;
	margin:16px 0 6px 0;
	height:27px;
	}
ul.weaccept li{
	float:left;
	display:inline-block;
	}
ul.weaccept li.accept{
	width:90px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:right;
	margin-right:10px;
	color:#ffffff;
	line-height:27px;
	}
ul.odr-list li{
	padding-bottom:3px;}
	#footer-menu{
	color:#008c00;
	font-size:12px;
	margin-bottom:30px;
	font-family:Arial, Helvetica, sans-serif;
	}

#footer-menu a{
	/*color:#008c00;*/
	text-decoration:none;}


.rgt-content{
	float:right;
	width:350px;
	margin:430px 32px 0 0;}
#chk-bottom{
	background:url(../images/chk-bottom.png) no-repeat center top;
	height:57px;
}
#form-inner {
	margin:auto 15px 0px 20px;
	color:#538ED2;
	padding-top:10px;
}
#form h4 {
	font-size:18px;
	line-height:1em;
	font-weight:400;
	border-bottom:1px solid #ccc;
	margin:auto auto 20px auto;
	padding-bottom:5px;
}

#form label {
	width:72px;
	display:block;
	float:left;
	text-align:right;
	margin:auto 10px 10px auto;
	font-size:13px;
}

.inputtext, .selectbox {
	width:150px;
	margin:auto auto 5px auto;
	padding:3px;
	border: 2px solid #6CA6E1;
	border-radius: 2px;
	font-size:13px;
}
.inputtext-small {
	width:78px;
	margin:auto auto 5px auto;
	border: 2px solid #6CA6E1;
	border-radius: 2px;
	font-size:1em;
	float:left;
	height:25px;
}
.selectbox-small {
	width:77px;
	margin:auto 0 5px auto;
	border: 2px solid #6CA6E1;
	border-radius: 2px;
	font-size:14px;
	height:25px;
}
#div-checkbox {
	float:left; width:15px; margin:auto 10px auto auto;
}
#div-checkbox-label {
	float:left; width:280px; margin:auto; font-size:15px;
}

#div-checkbox-2 {
	float:left; width:15px; margin:0px 10px 10px 15px;
}
#div-checkbox-2-label {
	float:left; width:271px; margin:auto;
	font-size:11px; line-height:1.2em;
	text-align:left;
	color:#000;
}

#termsbox {
	 height:50px;
	font-size:11px; line-height:1.2em;
	background-color:#faf8f3;
	border:1px solid #aca088;
	color:#4d4d4d;
	padding:3px 7px;
	overflow-y:scroll;
	margin:10px 15px;
}
#termsbox2 {
	 height:50px;
	font-size:11px; line-height:1.2em;
	background-color:#faf8f3;
	border:1px solid #aca088;
	color:#4d4d4d;
	padding:3px 7px;
	overflow-y:scroll;
	margin:10px 15px;
}

.offercopy { font-size:15px; font-weight:400; clear:both; margin-bottom:15px;}
.offercopy > span { font-weight:600; }

.blue { color:#004b8d;}
.pink { color:#9e0039}
.btn-submit {
	background:url(../images/submit.png) no-repeat left top;
	cursor:pointer;
	height:57px;
	width:272px;
	border:none;
}
/* End Form */
#top-content1 {
margin: 0 auto;
padding: 0;
width: 100%;
background: url(../images/top-section-bg.jpg) repeat-x left top;
}
.content{
	background:url(../images/inner-bg.png) no-repeat center 1px;
	min-height:196px;}
#frm-top{
	background:url(../images/form-top.jpg) no-repeat center top;
	height:85px;}
#frm-mid{
	background:url(../images/form-mid.jpg) repeat-y center top;}
#frm-btm{
	background:url(../images/form-bottom.jpg) no-repeat center top;
	height:80px;}
.info-heading{
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	padding-bottom:5px;
	}
form{
	font-family:Arial, Helvetica, sans-serif;
	}
.price-tbl{
	width:250px;}
.price-tbl li{
	float:left;
	width:70px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:20px;
	padding:0 10px;}
.total{
	text-align:left;
	font-weight:bold;
	text-transform:uppercase;
	font-family:Arial, Helvetica, sans-serif;
}
.summary{}
.choose-prod{
	font-size:14px;
	margin-top:5px;}
#billing-addr p{
	font-weight:bold;
	text-align:left;
	font-size:14px;
	line-height:18px;
	padding-bottom:10px;}
.cvv{
	font-size:14px;
	color:#fff;}
.frm-btm ul{
	margin-left:15PX;
	/*margin-top:10px;*/}
.frm-btm ul li{
	text-align:left;
	line-height:24px;
	font-size:14px;}
.frm-btm ul li span{
	padding-left:10px;}
.regular-price{
	position:absolute;
	top:100px;
	left:200px;
    font-family: 'MyriadProBoldCondensed';
	color:#000;
	font-size:18px;

	}
#bottom-box{
	background:url(../images/bottom-box-bg.jpg) no-repeat left top;
	height:170px;
	width:613px;}
#bottom-box p{
	padding:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:22px;
	text-align:left;

}
div#footer{
	clear:both;
	}
.img1{
	clear:both;
	float:left;
	margin:20px 0 0 66px;
	}
.img2{
	float:left;
	clear:both;
	margin:8px 0 0 426px;
	}
.ftrtxt{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	text-transform:uppercase;
	line-height:24px;
	text-align:center;
	clear:both;
	padding:20px;
	padding-top: 55px;
	}
.ftrtxt a{
	text-decoration:underline;
	color:#333333;
	}
.ftrtxt a:hover{
	text-decoration:none;
	color:#333333;
	}
.pg-img{
	height:1000px;}
.pg-img img{
	margin:230px 0 0 0;}

.discount {
	color:rgb(255, 160, 160);
	font-weight:bold;
}

/* MODAL FOR - offer_101/cart/order.php */
.modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    overflow: auto;
    pointer-events: none;
}

.modal-dialog:target {
    opacity: 1;
    pointer-events: auto
}

.pop-up-two > div {
    width: 415px;
    position: relative;
    margin: 2% auto;
    padding: 0;
    border-radius: 5px;
    z-index: 10000;
    overflow-x: hidden;
    max-height: 95%;
    /*background: radial-gradient(circle at top left, #d6d6d6, #fff);*/
    /*background: -moz-radial-gradient(circle at top left, #d6d6d6, #fff);*/
    /*background: -webkit-radial-gradient(circle at top left, #d6d6d6, #fff);*/
    /*background: -o-radial-gradient(circle at top left, #d6d6d6, #fff);*/

    background-color: #fff;
    box-shadow: 0px 0px 100px #000000;
}

.pop-up-two > div .logo{
    margin-top: 22px;
}
.pop-up-two > div .logo p{
    font-family: Impact,Arial Black,Arial,sans-serif;
    font-size:37px;
    color: #1369c0;
    padding: 0;
    margin:0;
    line-height: 1;
    margin-top: 4px;
    margin-bottom: 4px;
    text-transform: uppercase;
}
.pop-up-two > div .product h3{
    padding: 0;
    margin:0;
    font-family: Impact,Arial Black,Arial,sans-serif;
    font-weight: normal;
    font-size:37px;
    color: #ff0000;
    margin-top: 4px;
}
.pop-up-two > div .product p{
    font-family: "Arial";
    font-size:15px;
    color: #5c5c5d;
    padding: 0;
    margin:10px 0 16px 0;
}
.pop-up-two > div .product p span{
    text-decoration: line-through;
}
.pop-up-two > div table{
    margin: auto;
    margin-bottom: 16px;
}
.pop-up-two > div table .grey{
    font-family: Impact,Arial Black,Arial,sans-serif;
    font-weight: normal;
    font-size:37px;
    color: #5c5c5d;
    padding: 0;
    margin: 0;
}
.pop-up-two > div table .blue{
    font-family: Impact,Arial Black,Arial,sans-serif;
    font-weight: normal;
    font-size:52px;
    color: #1369c0;
    padding: 0;
    margin: 0;
   	margin-left:10px;
	border-bottom: 4px solid #1369c0;
}


.pop-up-two > div .bottom{
    background-color: #00477c;
    padding:10px 0 15px 0;
    border-radius: 5px;
}
.pop-up-two > div h3{
    margin: 0px 0 30px 0;
    color: #1369c0;
}

.pop-up-two > div .close-popup{
    position: absolute;
	top: 10px;
	right: 2px;
}

.pop-up-two > div .content{
    background-image: url(../images/content.jpg);
    background-repeat: no-repeat;
    text-align: left;
    margin-bottom: 25px;
}
.pop-up-two > div .content p{
    font-family: "Arial";
    font-weight: bold;
    font-size:19px;
    color: #262626;
    line-height: 1.5;
    padding-left: 28px;
    width: 546px;
    text-align: justify;
}
.pop-up-two > div .content .form{
    position: relative;
    margin-top:140px;
    padding-left:120px;
    height:105px;
}
.pop-up-two > div .content .form .column{
    position: relative;
    float:left;
    width: 203px;
}
.pop-up-two > div .content .form .column label{
    display: block;
    font-family: "Arial";
    font-size:17px;
    color: #fff;
    margin-bottom: 4px;
}
.pop-up-two > div .content .form .column input[type=text]{
    border: 2px solid #c2c2c2;
    background-color: #fff;
    font-family: "Arial";
    font-size:17px;
    color: #000;
    padding: 8px 5px;
    width: 185px;
}
.pop-up-two > div .content .form .column input[type=image]{
    position: relative;
    top: 15px;
    left: 10px;
}

.modal-a {
    color: #000
}

.modal-p {
    color: #757575
}

.people-item .people-thumb {
    max-width: 300px !important
}

a .modal-a {
    cursor: pointer
}

.full-width-close {
    z-index: 9999;
    padding: 100%;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: fixed
}

.loading-bg {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
}

.loading-bar {
	width: 649px;
  height: 408px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -200px 0 0 -325px;
	background: rgba(255, 255, 255, 1);
  font-family: Arial, Helvetica, sans-serif;
}
