@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
html,
body,
div,
span,
h1,
h3,
p,
a,
img,
ul,
li,
form,
footer,
header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

footer,
header {
    display: block;
}

body {
    line-height: 1;
}

ul {
    list-style: none;
}

.content,
.soc-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@font-face {
    font-family: 'RussiaLight';
    src: url("../fonts/russia-light-webfont.eot");
    src: url("../fonts/russia-light-webfont.woff") format("woff"), 
    url("../fonts/russia-light-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}


a {
    color: inherit;
    text-decoration: none;
    color: expression(this.parentNode.currentStyle['color'])
}

a:hover {
    text-decoration: underline
}

body {
    background: url("../images/bg.png")
}

@media screen and (max-width: 570px) {
    body {
        position: relative
    }
}

.content:after {
    content: " ";
    visibility: hidden;
    display: block;
    display: none;
    height: 0;
    clear: both;
}

.page-wrap {
    padding: 0 64px;
    max-width: 1280px;
    min-width: 272px;
    padding: 0;
    margin: 0 auto;
    position: relative;
    cursor: auto;
    /* overflow-x: hidden; */
    max-width: 1280px;
}

@media screen and (max-width: 1680px) {
    .page-wrap {
        margin: 0 auto;
        min-width: 860px
    }
}

@media screen and (max-width: 1024px) {
    .page-wrap {
        width: 100%;
        min-width: 320px
    }
}

@media screen and (max-width: 570px) {
    .page-wrap {
        padding: 0;
        overflow: hidden
    }
}

.main-content {
    background: #fff;
    z-index: 11;
    position: relative
}

.main-content:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
}

.content {
    min-height: 700px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin: 0 auto
}

@media screen and (max-width: 1024px) {
    .content {
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

.content__inner_wide {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 0px;
}

@media screen and (max-width: 1024px) {
    .content__inner_wide {
        width: 100%
    }
}

.content__inner_wide > .article {
    border-right: 1px solid #ccc
}

.footer,
.content {
    clear: both
}

.header {
    width: 100%;
    z-index: 12;
    position: relative;z-index: 3;
}

.header__inner {
    height: 54px;
    background: #0095da;
    position: relative;
    z-index: 7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media screen and (max-width: 1280px) {
    .header__inner {
        height: 42px
    }
}

.header__logo {
    height: 100%;
    position: relative;
    margin-left: 54px;
    padding: 20px 25px 20px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid #2483c5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media screen and (max-width: 1280px) {
    .header__logo {
        margin-left: 42px;
        padding-top: 14px;
        padding-bottom: 14px
    }
}

.header__logo .logo {
    display: inline-block;
    width: 122px;
    height: 30px;
    /*margin-top: -5px;*/
    font-family: "Open Sans", sans-serif;
    color: #fff;
    text-decoration: none;
}

.header__logo .spec {
    display: inline-block;
    height: 15px;
    font: normal 22px/15px "RussiaLight", sans-serif;
    text-transform: uppercase;
    color: #fff;
    margin-left: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap
}

@media screen and (max-width: 570px) {
    .header__logo .spec {
        font-size: 14px;
        padding-top: 1px
    }
}

.header__logo .spec:hover {
    text-decoration: none
}

.nav {
    height: 54px;
    max-width: 920px;
    overflow: hidden;
    position: relative
}

@media screen and (max-width: 1024px) {
    .nav {
        height: 42px
    }
}

@media screen and (max-width: 770px) {
    .nav {
        display: none !important
    }
}

.nav .nav__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.nav li {
    display: block;
    float: left;
    height: 54px;
    position: relative;
    border-right: 1px solid #2483c5
}

.nav li:last-child {
    border-right: none
}

.nav li:not(.mobile-show) {
    display: none
}

@media screen and (max-width: 1280px) {
    .nav li {
        height: 42px
    }
}

.nav li:hover {
    background: #2483c5
}

.nav li a {
    display: block;
    height: 100%;
    position: relative;
    font: normal 16px/54px "Open Sans", sans-serif;
    color: #fff;
    padding: 0 24px;
    text-decoration: none
}

@media screen and (max-width: 1280px) {
    .nav li a {
        line-height: 42px
    }
}

.nav_mobile {
    width: 100%;
    max-width: 780px;
    position: absolute;
    top: 54px;
    left: -780px;
    z-index: 13;
    /* background: #0095da; */
    /* border-top: 1px solid #2483c5; */
    padding: 15px 0 122px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

@media screen and (max-width: 1280px) {
    .nav_mobile {
        top: 42px
    }
}

@media screen and (max-width: 480px) {
    .nav_mobile {
        padding-bottom: 146px
    }
}

@media screen and (max-width: 600px) {
    .nav_mobile {
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

.nav_mobile:after {
    position: absolute;
    height: 100%;
    width: 1px;
    left: -1px;
    top: 0px;
    -webkit-box-shadow: 2px 0px 14px 1px #333333;
    box-shadow: 2px 0px 14px 1px #333333;
    content: ' '
}

.nav_mobile .nav__list_mobile {
    width: calc(100% / 3);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 54px;
    display: inline-block
}

@media screen and (max-width: 1280px) {
    .nav_mobile .nav__list_mobile {
        padding-left: 42px
    }
}

@media screen and (max-width: 570px) {
    .nav_mobile .nav__list_mobile {
        padding-left: 40px
    }
}

@media screen and (max-width: 600px) {
    .nav_mobile .nav__list_mobile {
        width: 50%
    }
}

@media screen and (max-width: 410px) {
    .nav_mobile .nav__list_mobile {
        width: 100%
    }
}

.nav_mobile .nav__list_mobile li {
    color: #fff
}

.nav_mobile .nav__list_mobile li a {
    font: 500 18px/52px "Open Sans", sans-serif;
    color: #fff;
    display: inline-block
}

@media screen and (max-width: 600px) {
    .nav_mobile .nav__list_mobile li a {
        line-height: 40px
    }
}

.header__menu-link {
    display: block;
    position: absolute;
    top: 17px;
    left: 17px;
    background: url("../images/burger.svg") 50% 50% no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    z-index: 9
}

@media screen and (max-width: 1280px) {
    .header__menu-link {
        width: 16px;
        height: 16px;
        left: 13px;
        top: 13px
    }
}

.search {
    padding: 13px 17px 11px;
    position: absolute;
    right: 0;
    background: url("../images/icons.png") 18px -198px no-repeat;
    width: 20px;
    height: 30px;
    cursor: pointer
}

.search .search__form {
    display: none
}

@media screen and (max-width: 1280px) {
    .search {
        padding: 6px 11px;
        background-position: 12px -205px
    }
}

.search__form {
    display: block;
    position: absolute;
    width: 30px;
    top: 13px;
    right: 12px;
    background: #0069a0;
    border-radius: 18px;
    overflow: hidden;
    height: 30px
}

@media screen and (max-width: 1280px) {
    .search__form {
        top: 6px;
        right: 6px
    }
}

.search__form input {
    float: left;
    height: 30px
}

.search__form .search__text {
    border: none;
    outline: none;
    background: none;
    width: 0px;
    color: #fff;
    padding: 0 3px;
    font: normal 12px/17px "Roboto", sans-serif;
    display: block
}

.search__form .search__text::-ms-input-placeholder {
    color: #89bad0
}

.search__form .search__text:-ms-input-placeholder {
    color: #89bad0
}

.search__form .search__text::-webkit-input-placeholder {
    color: #89bad0
}

.search__form .search__text:-moz-placeholder {
    color: #89bad0
}

.search__form .search__text::-moz-placeholder {
    color: #89bad0
}

.search__form .search__submit {
    display: block;
    background: url("../images/icons.png") 0px -211px no-repeat;
    width: 24px;
    border: none;
    cursor: pointer;
    float: right
}

.footer {
    padding-bottom: 0px;
    background: #1a1a1a;
    overflow: hidden;
    position: relative;
    z-index: 7;
    max-width: 1268px;
    margin: 0 auto;
    outline: 5px solid #262626;
}

@media screen and (max-width: 1680px) {
    .footer {
        margin: 0 auto;
        min-width: 860px
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        margin: 0 auto;
        width: 100%;
        min-width: 320px
    }
}

.footer-wrapper_top {
    border-top: 0px solid #2483c5;
    background: #262626;
    min-height: 80px;
    outline: 5px solid #262626;
}

.footer__inner {
    padding: 0 64px;
    max-width: 1280px;
    min-width: 272px;
    margin: 0 auto
}

@media screen and (max-width: 900px) {
    .footer__inner {
        padding: 0 24px
    }
}

.soc-buttons {
    padding-top: 24px
}

@media screen and (max-width: 1024px) {
    .soc-buttons {
        width: 100%
    }
}

@media screen and (max-width: 670px) {
    .soc-buttons {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        height: auto;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-top: 20px;
        padding-bottom: 24px
    }
}

.soc-buttons p {
    color: #ddd;
    font: normal 16px/24px "Open Sans", sans-serif;
    padding-top: 3px;
    margin-right: 16px
}

@media screen and (max-width: 670px) {
    .soc-buttons p {
        text-align: center;
        width: 100%;
        padding-top: 0;
        padding-bottom: 24px
    }
}

.soc-buttons a {
    display: block;
    float: left;
    margin-left: 6px;
    width: 32px;
    height: 32px;
    border-radius: 3px;
}

.soc-buttons a.soc-buttons_vk {
    background: #4680C2 url("vk.svg") 50% 50% no-repeat;
    background-size: 22px 12px;
    margin-left: 0
}

.soc-buttons a.soc-buttons_fb {
    background: #3C5A99 url("../images/facebook.svg") 50% 50% no-repeat
}

@media screen and (max-width: 570px) {
    .soc-buttons a.soc-buttons_fb {
        /* margin-left: calc((100% - 128px) / 3) */
    }
}

.soc-buttons a.soc-buttons_twt {
    background: #1DA1F2 url("../images/twitter.svg") 50% 50% no-repeat
}

@media screen and (max-width: 570px) {
    .soc-buttons a.soc-buttons_twt {
        /* margin-left: calc((100% - 128px) / 3) */
    }
}

.soc-buttons a.soc-buttons_rss {
    background: #ee802f url("../images/rss.svg") 50% 50% no-repeat;
}

@media screen and (max-width: 570px) {
    .soc-buttons a.soc-buttons_rss {
        /* margin-left: calc((39% - 138px) / 3); */
        /* margin-top: 24px; */
    }
}

.soc-buttons a.soc-buttons_insta {
    background: #f00075 url("../images/insta.svg") 50% 50% no-repeat
}

@media screen and (max-width: 570px) {
    .soc-buttons a.soc-buttons_insta {
        /* margin-left: 0; */
        /* margin-top: 24px */
    }
}

.soc-buttons a.soc-buttons_youtube {
    background: red url("../images/youtube.svg") 50% 50% no-repeat;
    background-size: 22px 14px
}

@media screen and (max-width: 570px) {
    .soc-buttons a.soc-buttons_youtube {
        /* margin-left: calc((100% - 128px) / 3); */
        /* margin-top: 24px; */
    }
}

.soc-buttons a.soc-buttons_ok {
    background: #EE8208 url("odnoklassniki.svg") 50% 50% no-repeat
}

@media screen and (max-width: 570px) {
    .soc-buttons a.soc-buttons_ok {
        margin-left: calc((100% - 128px) / 3)
    }
}

.soc-buttons a.soc-buttons_flipboard {
    background: #e12828 url("../images/flipboard.svg") 50% 50% no-repeat
}

@media screen and (max-width: 570px) {
    .soc-buttons a.soc-buttons_flipboard {
        /* margin-left: calc((100% - 128px) / 3); */
        /* margin-top: 24px; */
    }
}

.footer__title {
    margin: 30px 0;
    font: normal 18px "Open Sans", sans-serif;
    color: #555
}

.footer__programs {
    -webkit-columns: 4;
    -ms-columns: 4;
    -o-columns: 4;
    columns: 4;
    padding-bottom: 30px
}

@media screen and (max-width: 1024px) {
    .footer__programs {
        -webkit-columns: 3;
        -ms-columns: 3;
        -o-columns: 3;
        columns: 3
    }
}

@media screen and (max-width: 900px) {
    .footer__programs {
        -webkit-columns: 2;
        -ms-columns: 2;
        -o-columns: 2;
        columns: 2
    }
}

@media screen and (max-width: 570px) {
    .footer__programs {
        -webkit-columns: 1;
        -ms-columns: 1;
        -o-columns: 1;
        columns: 1;
        display: none
    }
}

.footer__programs li {
    padding: 0 24px 6px 0
}

.footer__programs li a {
    font: 12px "Open Sans", sans-serif;
    color: #999
}

.article {
    padding: 24px 70px
}

@media screen and (max-width: 570px) {
    .article {
        padding: 24px 12px
    }
}

.article:after {
    /* content: " "; */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.article__date {
    font: normal 14px/18px "ArimoRegular", sans-serif;
    color: #555
}

.article__date .article__time {
    padding-left: 12px;
    padding-right: 12px
}

.article__title {
    font: normal 32px/36px "RussiaLight", sans-serif;
    padding: 4px 0 4px;
    font-family: PF Regal, PF Regal Text Pro, Georgia, serif;
}

.article__img {
    padding-bottom: 20px;
    position: relative
}

.article__img img {
    width: 100%
}

.article__video-link {
    display: block;
    position: relative;
    text-decoration: none
}

.article__video-link:after {
    content: '\421\43C\43E\442\440\435\442\44C   \432\438\434\435\43E';
    position: absolute;
    width: 96px;
    height: 96px;
    background: url("../images/icons.png") 23px -27px no-repeat #0095da;
    top: 50%;
    margin-top: -48px;
    left: 0px;
    overflow: hidden;
    font: 20px/96px "Open Sans", sans-serif;
    color: #fff;
    text-indent: -250px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out
}

.article__video-link:hover:after {
    width: 260px;
    padding: 0 0 0 60px;
    background-position: 250px -27px;
    text-indent: 0px
}

@media screen and (max-width: 570px) {
    .article__video-link:hover:after {
        width: 96px;
        background-position: 23px -27px;
        text-indent: -250px
    }
}

.article__text {
    font: normal 18px/25px "Open Sans", sans-serif;
    color: #333;
    padding-top: 14px;
    font-family: PF Regal, PF Regal Text Pro, Georgia, serif;
}

@media screen and (max-width: 1280px) {
    .article__text {
        padding-left: 0
    }
}

.article__text p {
    padding: 0 0 30px;
    text-align: left
}

.article__text a {
    text-decoration: underline;
    color: #0095da
}

@media (max-width: 900px) {
    .page-wrap {
        padding: 0
    }
}

@media (max-width: 1024px) {
    .page-wrap {
        padding: 0
    }
}

@media (max-width: 530px) {
    .page-wrap {
        padding: 15px 0 0
    }
}

@media (max-width: 670px) {
    .page-wrap {
        padding: 0
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and (min-resolution: 120dpi) {

    .search,
    .search__form .search__submit,
    .soc-buttons a,
    .article__video-link:after {
        background-image: url("../images/icons_retina-VK.png");
        background-size: 318.5px 2015px
    }

    .soc-buttons a {
        background-image: url("");
        background-size: 352px 64px
    }
}


img {
    max-width: 100%;
}

.c15 {
    margin-bottom: 25px
}

.c15,
.c15 td,
.c15 tr {
    border: 1px solid #d6d6d6;
}

.c15 .c3 p {
    padding: 5px 10px 5px;
    margin-bottom: 0px;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}


.ListBlock-root li {
    position: relative;
    margin-bottom: 6px
}

.ListBlock-ul li {
    padding: 0 0 0 23px
}

@media only screen and (min-device-width:48em) {
    .ListBlock-ul li {
        padding: 0 0 0 38px
    }
}

.ListBlock-ul li:last-child {
    margin-bottom: 0
}

.ListBlock-ul li:before {
    position: absolute;
    top: 0;
    left: 5px;
    width: 8px;
    content: "\2022";
    text-align: center;
    color: #b88b58;
    font-size: 18px;
    line-height: inherit
}

@media only screen and (min-device-width:48em) {
    .ListBlock-ul li:before {
        left: 0;
        width: 36px;
        text-align: center;
        font-size: 20px
    }
}

.Figure-caption {
    width: 100%;
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    line-height: 22px;
    max-width: 520px;
    padding-top: 4px;
    color: #1a1a1a;
    display: block;
}

.Figure {
    display: block;
    max-width: 650px;
    width: 100%;
    margin: 20px auto;
}

a.button {
    font-size: 120%;
    text-align: center;
    color: #fff !important;
    background-color: red;
    display: table;
    margin: 25px auto;
    width: 400px;
    max-width: 100%;
    border-radius: 15px;
    text-decoration: none;
    padding: 15px;
}

a.button:hover {
    background-color: #c11f1f;
}

.ittem-comment {
    display: block;
    position: relative;
    margin-bottom: 25px;
    min-height: 60px;
}

.ittem-comment p {
    display: block;
    position: relative;
    padding-left: 75px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    font-size: 90%;
    line-height: 1.3;
}

@media only screen and (max-width: 500px) {
    a.button {
        width: 100%;
        max-width: 263px;
    }

    .c15 .c3 p {
        padding: 5px;

        font-size: 18px;
        line-height: 1.3
    }
}

.ava-img {
    width: 60px;
    border-radius: 10px;
    display: block;
    position: relative;
    float: left;
}

.colortext {
    background-color: antiquewhite;
    text-align: center;
}

.coment_ava img {
   float: left;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
	margin-top: 5px;
}
.coment_ava {  
    margin-right: 10px;

}
.row-y-item {
text-align: left;
    padding: 10px;
    margin: 10px 0px;
    min-height: 80px;
    border-bottom: 1px solid rgb(218, 225, 232); 
}

.name {font-size: 16px;
    font-weight: bold;
    color: #05519d;}
	
	.date {
    font-weight: normal;
    background: none;
    display: inline;
}
.date {
    display: inline-block;
    color: #a3b0b9;
    font-size: 13px;
}

.pg {
margin-left: 60px;
}