@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
/*font-family: 'Roboto Condensed', sans-serif;*/

a {
    cursor: pointer;
    color: #F72210;
    text-decoration: underline;
}
.prod-img {
	display: block;
	width: 100%;
	max-width: 240px;
	margin: 40px auto;
}

.coupon {
	width: 100%;
	margin: 40px auto 10px;
	position: relative;
}

.coupon span {
	display: block;
	width: 100%;
	max-width: 350px;
	margin: 0 auto;
	font-family: 'Roboto Condensed', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	text-align: center;
	background: #fff;
	position: relative;
	z-index: 2;
}

.coupon::before {
	content: '';
	display: block;
	height: 0;
	border-bottom: 2px dashed #919191;
	width: 100%;
	background: #F2F2F2;
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.coupon::after {
	content: " ";
	width: 50px;
	height: 37px;
	background: url(../images/scissors.png) no-repeat;
	background-size: contain;
	position: absolute;
	top: -20px;
	right: 20px;
	z-index: 2;
}

.claim-now {
	padding: 0!important;
	font-family: 'Roboto Condensed', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	color: #F72210;
	text-align: center!important;
}

.note {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 29px;
	text-align: center!important;
	margin: 20px auto 10px;
	padding: 5px 0!important;
	background: yellow;
}
.note a, 
.checkmark a {
    color: #F72210!important;
}

.stock-update img {
	width: 18px;
	margin-right: 5px;
}

.stock-update {
	border: 1px dotted #000;
	background: #EFFFF7;
	padding: 4px 9px;
	margin: 15px 0;
	display: flex;
	align-items: center;
}

.stock-update p {
	margin: 0;
	padding: 0!important;
	font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 10px;
    color: #000000;
}

.stock-update span {
	color: #dc3545;
}

.order_block {
	padding: 20px;
	border: 1px dotted #000;
	background: #EFFFF7;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.order-block-img {
	width: 30%;
	max-width: 240px;
	margin: 0 auto;
}

.order-block-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
}

.order-block-text p {
	margin-bottom: 0;
	padding: 0!important;
	font-family: 'Roboto Condensed', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	text-align: center!important;
}

.order-block-text .note {
	margin: 10px 0;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 29px;
	text-align: center!important;
	padding: 5px 15px!important;
}

.button-offer {
	box-shadow: 0 0 0 0 rgb(232 76 61 / 70%);
	border-radius: 20px;
	animation: pulse 1.25s infinite cubic-bezier(0.66,0,0,1);
	display: block;
	background: rgb(222, 116, 116);
	background: -moz-linear-gradient(180deg, rgba(222, 116, 116, 1) 0%, rgba(247, 34, 16, 1) 60%);
	background: -webkit-linear-gradient(180deg, rgba(222, 116, 116, 1) 0%, rgba(247, 34, 16, 1) 60%);
	background: linear-gradient(180deg, rgba(222, 116, 116, 1) 0%, rgba(247, 34, 16, 1) 60%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#de7474", endColorstr="#f72210", GradientType=1);
	text-align: center;
	width: 70%;
	text-align: center;
	margin: 15px auto;
	color: #fff!important;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 54px;
	text-decoration: none!important;
	border-radius: 10px;
	padding: 20px 15px;
	color: #fff;
}

.checkmark {
	display: inline-block;
	font-family: 'Roboto Condensed', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	color: #F72210;
	text-align: center;
	padding-left: 30px;
	position: relative;
}

.checkmark::before {
	content: " ";
	width: 30px;
	height: 29px;
	background: url(../images/checkmark2.png) no-repeat;
	background-size: contain;
	position: absolute;
	left: 5px;
	top: -11px;
}

@media screen and (max-width: 1150px) {
	.menu {
		display: none;
	}
}

@media screen and (max-width: 950px) {
	.button-offer {
		font-size: 27px;
	}
}

@media screen and (max-width: 750px) {
	.order_block {
		flex-direction: column;
	}
	.order-block-img {
		width: 100%;
		margin-bottom: 20px;
	}
	.order-block-text {
		width: 100%;
	}
	.button-offer {
		width: 85%;
	}
}

@media screen and (max-width: 600px) {
	.coupon::before,
	.coupon::after {
		display: none;
	}
}

@media screen and (max-width: 500px) {
	.stock-update img {
		display: none;
	}
	.button-offer {
		font-size: 24px;
		line-height: 30px;
	}
}

@media screen and (max-width: 400px) {
	.note,
	.order-block-text .note {
		font-size: 18px;
		line-height: 32px;
		letter-spacing: -0.02em;
		padding: 5px;
	}
	.button-offer {
		font-size: 24px;
		line-height: 30px;
	}
}

@keyframes pulse{to{box-shadow:0 0 0 45px rgba(232,76,61,0)}}

.spin-wrapper {
	-webkit-box-shadow: 0 0 10px;
	box-shadow: 0 0 10px;
	border: 3px solid red;
	padding: 20px 10px;
	border-radius: 10px;
	text-align: center;
	box-sizing: border-box;
	overflow: hidden;
}

.spin-wrapper img {
	max-width: 100%;
}
.spin-wrapper p{
	padding: 0!important;
	font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 10px;
    color: #000000;
    text-align: center!important;
}

.wheel-wrapper {
	text-align: center
}

.wheel {
	margin: 0 auto;
	position: relative;
	width: 100%;
	max-width: 400px;
}

.wheel-cursor {
	position: absolute;
	width: 150px !important;
	height: 150px;
	top: 49%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.cursor-text {
	position: absolute;
	z-index: 2;
	display: inline-block;
	width: 70px !important;
	height: 70px;
	line-height: 70px;
	cursor: pointer;
	border-radius: 50%;
	vertical-align: middle;
	text-align: center;
	background-color: #ccc;
	border: 1px solid #ccc;
	top: 50%;
	left: 50%;
	font-size: 12px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-box-shadow: rgba(255, 255, 255, 1) 0 -2px 0 inset, rgba(255, 255, 255, 1) 0 2px 0 inset, rgba(0, 0, 0, .4) 0 0 5px;
	box-shadow: rgba(255, 255, 255, 1) 0 -2px 0 inset, rgba(255, 255, 255, 1) 0 2px 0 inset, rgba(0, 0, 0, .4) 0 0 5px;
	background: #fff;
	background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0, rgba(255, 255, 255, 1)), color-stop(100%, rgba(234, 234, 234, 1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0, rgba(234, 234, 234, 1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0, rgba(234, 234, 234, 1) 100%);
	background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0, rgba(234, 234, 234, 1) 100%);
	background: -o-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0, rgba(234, 234, 234, 1) 100%);
	background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0, rgba(234, 234, 234, 1) 100%)
}

.wheel-img {
	-webkit-transition: 4s;
	-o-transition: 4s;
	transition: 4s
}

.close-popup {
	position: absolute;
	width: 30px;
	height: 30px;
	background-image: url("cross.svg");
	background-size: 100%;
	top: -40px;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 10px #fff;
	box-shadow: 0 0 10px #fff;
	right: -40px;
	cursor: pointer
}

.cursor-text:active {
	-webkit-box-shadow: rgba(0, 0, 0, .4) 0 0 5px inset;
	box-shadow: rgba(0, 0, 0, .4) 0 0 5px inset
}

.pop-up-layer {
	position: fixed !important;
	top: 0 !important;
	width: 100% !important;
	height: 100% !important;
	background-color: rgba(0, 0, 0, .7) !important;
	z-index: 99 !important
}

.pop-up-layer-show {
	display: block
}

.pop-up-window {
	position: relative;
	width: 95%;
	max-width: 400px;
	right: 0;
	left: 0;
	top: 50%;
	margin: 0 auto;
	background: #fff none repeat scroll 0 0;
	text-align: center;
	padding: 10px;
	padding-top: 70px;
	padding-bottom: 20px;
	border-radius: 10px;
	animation: .7s ease 0s normal none 1 running pop-up-appear;
	transform: translateY(-50%);
}

.pop-up-window::before {
	content: "";
	position: absolute;
	width: 110px;
	height: 110px;
	top: -55px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: #71c341;
	border-radius: 50%;
	animation: .5s ease .6s normal backwards 1 running pop-up-appear-before
}

.pop-up-window::after {
	content: "";
	position: absolute;
	width: 50px;
	height: 20px;
	top: -20px;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-width: medium medium 4px 4px;
	border-style: none none solid solid;
	border-color: currentcolor currentcolor #fff #fff;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	transform: rotate(-45deg);
	transition: opacity 1s ease 0s;
	animation: .5s ease .6s normal backwards 1 running pop-up-appear-after
}

.spin-result-wrapper {
	display: none;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	top: 0;
	z-index: 999;
	left: 0;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, .6);
	text-align: center
}

.super-rotation {
	-webkit-animation-name: super-rotation;
	animation-name: super-rotation;
	-webkit-animation-duration: 7s;
	animation-duration: 7s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out
}

@-webkit-keyframes super-rotation {
	70% {
		-webkit-transform: rotate(1783deg);
		transform: rotate(1783deg)
	}
	100% {
		-webkit-transform: rotate(1774deg);
		transform: rotate(1774deg)
	}
}

@keyframes super-rotation {
	70% {
		-webkit-transform: rotate(1783deg);
		transform: rotate(1783deg)
	}
	100% {
		-webkit-transform: rotate(1774deg);
		transform: rotate(1774deg)
	}
}

.pop-up-heading {
	display: block;
	font-size: 37px;
	margin-bottom: 30px;
}

.pop-up-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    padding: 0!important;
    margin-bottom: 30px;
    color: #000000;
	font-size: 22px;
	line-height: 30px;
	text-align: center!important;
}

.pop-up-button {
	text-transform: uppercase;
	text-decoration: none!important;
	padding: 10px 20%;
	font-size: 20px;
	border-radius: 5px;
	background-color: #71c341;
	color: #fff!important;
	border: medium none;
	cursor: pointer;
	outline: medium none
}

.pop-up-button:hover {
	color: #fff;
	text-decoration: none
}

@media screen and (max-width: 480px) {
	.wheel_input {
		width: 90%!important;
	}
}

.pop-up-button {
	display: inline-block !important;
}

.pop-up-text small {
	display: block;
	font-size: 12px;
	line-height: 14px;
	margin-top: 10px;
}